


<div class="module RT clearfix">

      <h3>Cycle Overview, 2013/14 Cycle</h3>
       <div id="timestamp"><strong>Last update:</strong>  Jan. 27, 2015 | 9:47 a.m.</div>
       
        <div style="clear:both;">
        </div>
    
        <div class="clearfix">
    Overview Pages: 

							<a href="/overview/roi/">Return on investment</a>&nbsp;|&nbsp;
    					<a href="/overview/results/">Results</a>&nbsp;|&nbsp;
              <a href="/overview/">Cycle Overview</a>&nbsp;|&nbsp;
              <a href="/overview/outside-money/">Outside Money</a>&nbsp;|&nbsp;
              <a href="/overview/super-pacs/">Super PACs</a>&nbsp;|&nbsp;
              <a href="/overview/dark-money/">Dark Money</a>&nbsp;|&nbsp;
              <a href="/overview/connected/">Connected PACs</a>
</div>
        
    
        <p class="tip" style="margin:0px; padding:5px;">All numbers are for the entire two-year cycle, beginning Jan. 1, 2013 through 9:47 a.m., Jan. 27, 2015. For more about how these numbers were calculated, see <a href="#methodology">the methodology</a> below.</p>

<div class="overviewBar withNav withTip" id="positive">
    <h4>Fundraising by committee type</h4>
</div>



<table id="mainPageTable" style="width: 800px;">
    
    <thead><th>Group type</th><th>Total Receipts</th><th>Contributions from other committees</th><th>Itemized individual contributions ($200+)</th><th>Unitemized individual contributions (&lt;$200)</th></thead>
    
    <tbody>
        
        <tr class="even"><td>Super PACs</td><td>$762.6 million</td><td>$53.9 million</td><td>$620.4 million</td><td>$56.5 million</td></tr>
        
        <tr class="odd"><td>Party Committees</td><td>$1.2 billion</td><td>$126.1 million</td><td>$392.8 million</td><td>$332.9 million</td></tr>
        
        <tr class="even"><td>House Candidate Committees</td><td>$945.8 million</td><td>$320.5 million</td><td>$432.9 million</td><td>$75.7 million</td></tr>
        
        <tr class="odd"><td>Senate Candidate Committees</td><td>$572.8 million</td><td>$98.5 million</td><td>$311.2 million</td><td>$77.1 million</td></tr>
        
        <tr class="even"><td>Other PACs</td><td>$1.2 billion</td><td>$92.6 million</td><td>$539.5 million</td><td>$487.8 million</td></tr>
        
        <tr class="odd"><td>Dark Money</td><td>$0</td><td>$0</td><td>$0</td><td>$0</td></tr>
        
    </tbody>
</table>


<div class="overviewBar withNav withTip" id="positive">
    <h4>Spending by committee type</h4>
</div>



<table id="mainPageTable" style="width: 800px;">

    <thead id="spending"><th>Group type</th><th>Total Disbursements</th><th>Operating Expenditures</th><th>Contributions to candidates or committees</th><th>Independent Expenditures</th></thead>

    <tbody>
        
        <tr class="even"><td>Super PACs</td><td>$665.5 million</td><td>$168.5 million </td><td>$236.0 million</td><td>$177.3 million</td></tr>
        
        <tr class="odd"><td>Party Committees</td><td>$942.1 million</td><td>$627.8 million </td><td>$2.8 million</td><td>$63.4 million</td></tr>
        
        <tr class="even"><td>House Candidate Committees</td><td>$761.2 million</td><td>$636.1 million </td><td>$292</td><td>$2000</td></tr>
        
        <tr class="odd"><td>Senate Candidate Committees</td><td>$450.7 million</td><td>$417.1 million </td><td>$0</td><td>$0</td></tr>
        
        <tr class="even"><td>Other PACs</td><td>$1.1 billion</td><td>$231.0 million </td><td>$627.5 million</td><td>$28.8 million</td></tr>
        
        <tr class="odd"><td>Dark Money</td><td>$0</td><td>$0 </td><td>$0</td><td>$103.4 million</td></tr>
        
    </tbody>
</table>

<p id="methodology">
All the numbers on this page&mdash;with the exception of independent expenditures&mdash;are calculated solely from the amounts reported on monthly or quarterly reports and published by the FEC's <a href="http://www.fec.gov/data/CampaignAndCommitteeSummary.do">Committee Report Summary</a>. As a result, <em>there is no precise end date</em> that describes the period this data covers. In other words, this data includes monthly reports as they are received, even if quarterly filers have yet to file. </p> 
<p>The "Group Type" is determined solely on the basis of the "committee type" of each group. House committees include all committees that self-identify as such, whether or not they are authorized or not, or whether or not their authorizing member is currently up for reelection. "Super PACs" in the above include "hybrid Super PACs". "Other PACs" include type "N" non-qualified and "Q" qualified PACs.</p>
 <p>Dark money groups are entities&mdash;typically 501(c)(4)s, but sometimes corporations, LLC's or individuals&mdash;that haven't registered as political groups with the FEC because they do not consider politics to be their "primary purpose". As such, these groups aren't required to report their donors, or spending, but do report their independent expenditures. These groups, it should be noted, are not required to report "issue ads" they run supporting or criticizing candidates more than 60 days before a general election or 30 days before a general election if the ads are not considered "<a href="http://www.gpo.gov/fdsys/pkg/CFR-2014-title11-vol1/xml/CFR-2014-title11-vol1-sec100-22.xml">express advocacy</a>".Other PACs include traditional PACs which are subject to contribution limits.</p>
    
</div>