


<div class="module RT clearfix">

      <h3>Cycle Overview, 2013/14 Cycle -- Connected pacs</h3>
       <div id="timestamp"><strong>Last update:</strong>  Jan. 27, 2015 | 9:47 a.m.</div>
       
        <div style="clear:both;">
        </div>
    
        <div class="clearfix">
    Overview Pages: 

							<a href="/overview/roi/">Return on investment</a>&nbsp;|&nbsp;
    					<a href="/overview/results/">Results</a>&nbsp;|&nbsp;
              <a href="/overview/">Cycle Overview</a>&nbsp;|&nbsp;
              <a href="/overview/outside-money/">Outside Money</a>&nbsp;|&nbsp;
              <a href="/overview/super-pacs/">Super PACs</a>&nbsp;|&nbsp;
              <a href="/overview/dark-money/">Dark Money</a>&nbsp;|&nbsp;
              <a href="/overview/connected/">Connected PACs</a>
</div>
        
    

<div class="overviewBar withNav withTip" id="positive">
    <h4>Fundraising by connected committee type</h4>
</div>



<table id="mainPageTable" style="width: 800px;">
    
    <thead><th>Group type</th><th>Total Receipts</th><th>Contributions from other committees</th><th>Itemized individual contributions ($200+)</th><th>Unitemized individual contributions (&lt;$200)</th></thead>
    
    <tbody>
        
        <tr class="even"><td>Corporation</td><td>$339.8 million</td><td>$672,286</td><td>$236.3 million</td><td>$96.9 million</td></tr>
        
        <tr class="odd"><td>Labor organization</td><td>$263.3 million</td><td>$595,006</td><td>$34.6 million</td><td>$213.5 million</td></tr>
        
        <tr class="even"><td>Member Organization</td><td>$170.3 million</td><td>$5.7 million</td><td>$78.4 million</td><td>$67.3 million</td></tr>
        
        <tr class="odd"><td>Cooperative</td><td>$6.9 million</td><td>$84,125</td><td>$5.2 million</td><td>$1.1 million</td></tr>
        
        <tr class="even"><td>Trade Association</td><td>$132.7 million</td><td>$6.6 million</td><td>$92.4 million</td><td>$26.0 million</td></tr>
        
        <tr class="odd"><td>Corporation without capital stock</td><td>$19.3 million</td><td>$15,081</td><td>$11.5 million</td><td>$7.4 million</td></tr>
        
    </tbody>
</table>


<div class="overviewBar withNav withTip" id="positive">
    <h4>Spending by connected committee type</h4>
</div>



<table id="mainPageTable" style="width: 800px;">

    <thead id="spending"><th>Group type</th><th>Total Disbursements</th><th>Operating Expenditures</th><th>Contributions to candidates or committees</th></thead>

    <tbody>
        
        <tr class="even"><td>Corporation</td><td>$339.4 million</td><td>$4.3 million</td><td>$268.0 million</td></tr>
        
        <tr class="odd"><td>Labor organization</td><td>$236.9 million</td><td>$16.7 million</td><td>$78.6 million</td></tr>
        
        <tr class="even"><td>Member Organization</td><td>$155.2 million</td><td>$48.7 million</td><td>$76.4 million</td></tr>
        
        <tr class="odd"><td>Cooperative</td><td>$6.6 million</td><td>$140,035</td><td>$6.0 million</td></tr>
        
        <tr class="even"><td>Trade Association</td><td>$130.4 million</td><td>$5.1 million</td><td>$108.3 million</td></tr>
        
        <tr class="odd"><td>Corporation without capital stock</td><td>$19.7 million</td><td>$4.6 million</td><td>$11.2 million</td></tr>
        
    </tbody>
</table>

<p id="methodology">This page shows only "regular" PACs -- those of type Q "qualified" or N "nonqualified" that claim to be "connected" to another organization. FEC allows PACs to characterize these related organizations as a 'Corporation', 'Labor Organization', 'Member Organization', 'Cooperative', 'Trade Association' or 'corporation without capital stock'. The coding of a related organization is left up to the PAC submitting paperwork to FEC--not all filers complete this correctly. No effort has been made to correct or fix these entries.</p>
    
</div>