


<div class="module RT clearfix">

      <h3>Top Dark Money groups by Independent Expenditures, 2013/14 Cycle</h3>
       <div id="timestamp"><strong>Last update:</strong>  Jan. 27, 2015 | 9:47 a.m.</div>
       
        <div style="clear:both;">
        </div>
    
        <div class="clearfix">
    Overview Pages: 

							<a href="/overview/roi/">Return on investment</a>&nbsp;|&nbsp;
    					<a href="/overview/results/">Results</a>&nbsp;|&nbsp;
              <a href="/overview/">Cycle Overview</a>&nbsp;|&nbsp;
              <a href="/overview/outside-money/">Outside Money</a>&nbsp;|&nbsp;
              <a href="/overview/super-pacs/">Super PACs</a>&nbsp;|&nbsp;
              <a href="/overview/dark-money/">Dark Money</a>&nbsp;|&nbsp;
              <a href="/overview/connected/">Connected PACs</a>
</div>
        
    
        <p class="tip" style="margin:0px; padding:5px;">All numbers are for the entire two-year cycle, beginning Jan. 1, 2013 through 9:47 a.m., Jan. 27, 2015. 

<div class="overviewBar withNav withTip" id="positive">
    <h4>Dark Money Totals</h4>
</div>

<div class="numeric_summary">
   <span class="amount_description">All Independent Expenditures:</span>&nbsp;<span class="amount_dollars">$103.4 million</span>
   </div>
<p>Dark money groups are entities&mdash;typically 501(c)(4)s, but sometimes corporations, LLC's or individuals&mdash;that haven't registered as political groups with the FEC because they do not consider politics to be their "primary purpose". As such, these groups aren't required to report their donors, but do report their independent expenditures. These groups, it should be noted, are not required to report "issue ads" they run supporting or criticizing candidates more than 60 days before a general election or 30 days before a general election if the ads are not considered "<a href="http://www.gpo.gov/fdsys/pkg/CFR-2014-title11-vol1/xml/CFR-2014-title11-vol1-sec100-22.xml">express advocacy</a>".</p>

<div class="overviewBar withNav withTip" id="positive">
    <h4>Top Dark Money groups, by Independent expenditures</h4>
</div>
<p class="tip">This is just a listing of the top 50 Dark Money groups by independent expenditures. For a more complete list that's sortable, filterable and downloadable, see <a href="/pacs/#?ordering=-total_disbursements&committee_class=I">here</a>.

<table id="mainPageTable" style="width: 800px;">
    
    <thead><th>Committee Name</th>
    <th>Total outside spending</th>
    <th>Major Activity</th>
    </tr></thead>
    
    <tbody>
        
        <tr class="even"><td><a href="/committee/crossroads-grassroots-policy-strategies/C90011719/">CROSSROADS GRASSROOTS POLICY STRATEGIES</a></td><td>$26,015,171</td><td>attacking Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/us-chamber-of-commerce/C90013145/">US CHAMBER OF COMMERCE</a></td><td>$26,000,732</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/league-of-conservation-voters-inc/C90005786/">LEAGUE OF CONSERVATION VOTERS INC</a></td><td>$8,479,072</td><td>supporting Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/kentucky-opportunity-coalition/C90014861/">KENTUCKY OPPORTUNITY COALITION</a></td><td>$7,573,764</td><td>attacking Democrats</td></tr>
        
        <tr class="even"><td><a href="/committee/patriot-majority-usa/C90012956/">PATRIOT MAJORITY USA</a></td><td>$7,443,400</td><td>attacking Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/national-rifle-association-institute-for-legislative-action/C90013301/">NATIONAL RIFLE ASSOCIATION INSTITUTE FOR LEGISLATIVE ACTION</a></td><td>$3,211,653</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/votevetsorg-action-fund/C90010620/">VOTEVETS.ORG ACTION FUND</a></td><td>$2,355,415</td><td>attacking Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/americans-for-prosperity/C90013285/">AMERICANS FOR PROSPERITY</a></td><td>$2,231,952</td><td>attacking Democrats</td></tr>
        
        <tr class="even"><td><a href="/committee/working-america/C90011156/">WORKING AMERICA</a></td><td>$2,224,075</td><td>supporting Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/american-chemistry-council-inc/C90011578/">AMERICAN CHEMISTRY COUNCIL, INC</a></td><td>$1,954,566</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/american-action-network-inc/C90011230/">AMERICAN ACTION NETWORK INC</a></td><td>$1,659,910</td><td>attacking Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/yg-network-inc/C90013038/">YG NETWORK INC.</a></td><td>$1,597,688</td><td>attacking Democrats</td></tr>
        
        <tr class="even"><td><a href="/committee/oklahomans-for-a-conservative-future-inc/C90014739/">OKLAHOMANS FOR A CONSERVATIVE FUTURE INC</a></td><td>$1,296,466</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/emergency-committee-for-israel/C90013244/">EMERGENCY COMMITTEE FOR ISRAEL</a></td><td>$1,277,188</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/citizens-for-responsible-energy-solutions-inc/C90014838/">CITIZENS FOR RESPONSIBLE ENERGY SOLUTIONS INC.</a></td><td>$1,145,986</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/america-inc/C90014788/">AMERICA INC.</a></td><td>$954,114</td><td>attacking Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/environmental-defense-action-fund/C90014895/">ENVIRONMENTAL DEFENSE ACTION FUND</a></td><td>$705,962</td><td>attacking Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/club-for-growth/C90009945/">CLUB FOR GROWTH</a></td><td>$481,776</td><td>attacking Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/center-forward/C90012998/">CENTER FORWARD</a></td><td>$467,482</td><td>attacking Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/the-60-plus-association/C90011685/">THE 60 PLUS ASSOCIATION</a></td><td>$410,268</td><td>attacking Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/michigan-chamber-of-commerce/C90014945/">MICHIGAN CHAMBER OF COMMERCE</a></td><td>$387,400</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/independent-womens-voice/C90011115/">INDEPENDENT WOMEN&#39;S VOICE</a></td><td>$369,615</td><td>attacking Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/planned-parenthood-action-fund-inc/C90005471/">Planned Parenthood Action Fund Inc.</a></td><td>$352,575</td><td>supporting Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/legacy-foundation-action-fund/C90014705/">LEGACY FOUNDATION ACTION FUND</a></td><td>$327,370</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/people-for-the-american-way/C90012071/">PEOPLE FOR THE AMERICAN WAY</a></td><td>$317,676</td><td></td></tr>
        
        <tr class="odd"><td><a href="/committee/humane-society-legislative-fund/C90009358/">HUMANE SOCIETY LEGISLATIVE FUND</a></td><td>$314,392</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/planned-parenthood-action-fund-of-the-pacific-southwest/C90011412/">PLANNED PARENTHOOD ACTION FUND OF THE PACIFIC SOUTHWEST</a></td><td>$254,430</td><td>supporting Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/illinois-chamber-of-commerce/C90011867/">ILLINOIS CHAMBER OF COMMERCE</a></td><td>$238,750</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/foundation-for-economic-prosperity-inc/C90014879/">FOUNDATION FOR ECONOMIC PROSPERITY INC.</a></td><td>$231,623</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/indian-americans-for-freedom-nfpc/C90014457/">INDIAN AMERICANS FOR FREEDOM NFPC</a></td><td>$226,664</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/state-tea-party-express/C90014762/">STATE TEA PARTY EXPRESS</a></td><td>$212,276</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/focus-on-the-family-action/C90008186/">FOCUS ON THE FAMILY ACTION</a></td><td>$211,104</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/michigan-for-all/C90015009/">MICHIGAN FOR ALL</a></td><td>$198,331</td><td>supporting Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/ending-spending-inc/C90014697/">ENDING SPENDING INC.</a></td><td>$177,960</td><td>attacking Democrats</td></tr>
        
        <tr class="even"><td><a href="/committee/freedom-vote/C90014754/">FREEDOM VOTE</a></td><td>$174,607</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/american-future-fund/C90011677/">AMERICAN FUTURE FUND</a></td><td>$165,516</td><td>attacking Democrats</td></tr>
        
        <tr class="even"><td><a href="/committee/main-street-advocacy/C90013004/">MAIN STREET ADVOCACY</a></td><td>$160,000</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/ocean-champions/C90009234/">OCEAN CHAMPIONS</a></td><td>$152,690</td><td>attacking Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/american-commitment/C90013640/">AMERICAN COMMITMENT</a></td><td>$136,204</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/susan-b-anthony-list-inc/C90011313/">SUSAN B ANTHONY LIST INC</a></td><td>$119,552</td><td>attacking Democrats</td></tr>
        
        <tr class="even"><td><a href="/committee/iowa-citizens-for-community-improvement-action-fund/C90013897/">IOWA CITIZENS FOR COMMUNITY IMPROVEMENT ACTION FUND</a></td><td>$106,459</td><td>supporting Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/americans-for-a-conservative-direction/C90014796/">AMERICANS FOR A CONSERVATIVE DIRECTION</a></td><td>$102,035</td><td>supporting Republicans</td></tr>
        
        <tr class="even"><td><a href="/committee/hispanic-leadership-fund/C90013624/">HISPANIC LEADERSHIP FUND</a></td><td>$96,290</td><td>attacking Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/naral-pro-choice-america/C90004185/">NARAL Pro-Choice America</a></td><td>$80,738</td><td>supporting Democrats</td></tr>
        
        <tr class="even"><td><a href="/committee/food-policy-action/C90014978/">FOOD POLICY ACTION</a></td><td>$75,197</td><td>attacking Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/health-coalition-on-liability-and-access/C90015165/">HEALTH COALITION ON LIABILITY AND ACCESS</a></td><td>$75,000</td><td></td></tr>
        
        <tr class="even"><td><a href="/committee/gun-owners-of-america-inc/C90011693/">GUN OWNERS OF AMERICA, INC.</a></td><td>$72,887</td><td>supporting Republicans</td></tr>
        
        <tr class="odd"><td><a href="/committee/planned-parenthood-advocates-mar-monte/C90007311/">PLANNED PARENTHOOD ADVOCATES MAR MONTE</a></td><td>$70,089</td><td></td></tr>
        
        <tr class="even"><td><a href="/committee/revitalize-arizona/C90014952/">REVITALIZE ARIZONA</a></td><td>$70,000</td><td>supporting Democrats</td></tr>
        
        <tr class="odd"><td><a href="/committee/350org-action-fund/C90014580/">350.ORG ACTION FUND</a></td><td>$55,828</td><td>supporting Democrats</td></tr>
        
    </tbody>
</table>


