


<div class="module RT clearfix">

      <h3>Top Super PACs by Independent Expenditures, 2013/14 Cycle</h3>
       <div id="timestamp"><strong>Last update:</strong>  Jan. 27, 2015 | 9:47 a.m.</div>
       
        <div style="clear:both;">
        </div>
    
        <div class="clearfix">
    Overview Pages: 

							<a href="/overview/roi/">Return on investment</a>&nbsp;|&nbsp;
    					<a href="/overview/results/">Results</a>&nbsp;|&nbsp;
              <a href="/overview/">Cycle Overview</a>&nbsp;|&nbsp;
              <a href="/overview/outside-money/">Outside Money</a>&nbsp;|&nbsp;
              <a href="/overview/super-pacs/">Super PACs</a>&nbsp;|&nbsp;
              <a href="/overview/dark-money/">Dark Money</a>&nbsp;|&nbsp;
              <a href="/overview/connected/">Connected PACs</a>
</div>
        
    
        <p class="tip" style="margin:0px; padding:5px;">All numbers are for the entire two-year cycle, beginning Jan. 1, 2013 through 9:47 a.m., Jan. 27, 2015. 

<div class="overviewBar withNav withTip" id="positive">
    <h4>Super PAC Totals</h4>
</div>

<table id="mainPageTable" style="width: 800px;">
    
    <thead><th>Group type</th><th>Total Receipts</th><th>Total Independent Expenditures</th><th>Cash on Hand</th></thead>
    
    <tbody>
        
        <tr class="even"><td>Super PACs</td><td>$519.1 million</td><td>$175.4 million</td><td>$116.8 million</td></tr>
        
        <tr class="odd"><td>Hybrid Super PACs</td><td>$193.2 million</td><td>$2.0 million</td><td>$3.9 million</td></tr>
        
        <tr class="even"><td>All Super PACs</td><td>$712.4 million</td><td>$177.3 million</td><td>$120.8 million</td></tr>
        
    </tbody>
</table>


<div class="overviewBar withNav withTip" id="positive">
    <h4>Top Super PACs, by Independent expenditures</h4>
</div>
<p class="tip">This is just a listing of the top 50 Super PACs by independent expenditures. For a more complete list that's sortable, filterable and downloadable, see <a href="/pacs/#?ordering=-total_disbursements&committee_class=UOVW">here</a>.

<table id="mainPageTable" style="width: 800px;">
    
    <thead><th>Committee Name</th>
    <th>Total outside spending</th>
    <th>Major Activity</th>
    <th>Cash on hand (if reported)</th>
    <th>Cash on hand date</th>
    </tr></thead>
    
    <tbody>
        
        <tr class="even"><td><a href="/committee/senate-majority-pac/C00484642/">SENATE MAJORITY PAC</a><br>( Super PAC )</td><td>$32,270,538</td><td>attacking Republicans</td><td>$3,224,529</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/nextgen-climate-action-committee/C00547349/">NEXTGEN CLIMATE ACTION COMMITTEE</a><br>( Super PAC )</td><td>$11,842,551</td><td>attacking Republicans</td><td>$9,088,121</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/ending-spending-action-fund/C00489856/">ENDING SPENDING ACTION FUND</a><br>( Super PAC )</td><td>$9,905,367</td><td>attacking Democrats</td><td>$7,145,528</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/american-crossroads/C00487363/">AMERICAN CROSSROADS</a><br>( Super PAC )</td><td>$9,069,569</td><td>attacking Democrats</td><td>$9,004,290</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/national-association-of-realtors-congressional-fund/C00488742/">NATIONAL ASSOCIATION OF REALTORS CONGRESSIONAL FUND</a><br>( Super PAC )</td><td>$8,305,191</td><td>supporting Republicans</td><td>$20,571</td><td>Oct. 15, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/freedom-partners-action-fund-inc/C00564765/">FREEDOM PARTNERS ACTION FUND INC</a><br>( Super PAC )</td><td>$8,230,275</td><td>attacking Democrats</td><td>$6,268,052</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/put-alaska-first/C00544346/">PUT ALASKA FIRST</a><br>( Super PAC )</td><td>$8,145,302</td><td>attacking Republicans</td><td>$203,841</td><td>Oct. 15, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/house-majority-pac/C00495028/">HOUSE MAJORITY PAC</a><br>( Super PAC )</td><td>$7,930,779</td><td>attacking Republicans</td><td>$11,839,877</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/club-for-growth-action/C00487470/">CLUB FOR GROWTH ACTION</a><br>( Super PAC )</td><td>$6,681,015</td><td>attacking Republicans</td><td>$934,445</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/women-vote/C00473918/">WOMEN VOTE!</a><br>( Super PAC )</td><td>$5,741,645</td><td>attacking Republicans</td><td>$261,724</td><td>Dec. 31, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/kentuckians-for-strong-leadership/C00543256/">KENTUCKIANS FOR STRONG LEADERSHIP</a><br>( Super PAC )</td><td>$3,570,459</td><td>attacking Democrats</td><td>$2,363,627</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/nea-advocacy-fund/C00489815/">NEA ADVOCACY FUND</a><br>( Super PAC )</td><td>$3,157,658</td><td>attacking Republicans</td><td>$540,561</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/independence-usa-pac/C00532705/">INDEPENDENCE USA PAC</a><br>( Super PAC )</td><td>$2,970,022</td><td>supporting Democrats</td><td>$11,837</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/senate-conservatives-action/C00524181/">SENATE CONSERVATIVES ACTION</a><br>( Super PAC )</td><td>$2,607,294</td><td>supporting Republicans</td><td>$44,902</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/americans-for-responsible-solutions-pac/C00540443/">AMERICANS FOR RESPONSIBLE SOLUTIONS-PAC</a><br>( Super PAC )</td><td>$2,494,021</td><td>attacking Republicans</td><td>$237,472</td><td>Aug. 31, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/league-of-conservation-voters-victory-fund/C00486845/">LEAGUE OF CONSERVATION VOTERS VICTORY FUND</a><br>( Super PAC )</td><td>$2,376,853</td><td>supporting Democrats</td><td>$3,813,152</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/citizens-for-a-working-america-pac/C00488767/">CITIZENS FOR A WORKING AMERICA PAC</a><br>( Super PAC )</td><td>$2,118,650</td><td>attacking Republicans</td><td>$442</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/mayday-pac/C00562587/">MAYDAY PAC</a><br>( Super PAC )</td><td>$2,095,437</td><td>supporting Republicans</td><td>$4,110,939</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/mississippi-conservatives/C00554774/">MISSISSIPPI CONSERVATIVES</a><br>( Super PAC )</td><td>$1,811,548</td><td>attacking Republicans</td><td>$360,622</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/service-employees-international-union-pea-federal/C00523621/">SERVICE EMPLOYEES INTERNATIONAL UNION PEA - FEDERAL</a><br>( Super PAC )</td><td>$1,727,076</td><td>supporting Democrats</td><td>$1,894,939</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/virginia-progress-pac/C00555516/">VIRGINIA PROGRESS PAC</a><br>( Super PAC )</td><td>$1,720,258</td><td>attacking Republicans</td><td>$146,606</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/american-unity-pac-inc/C00523589/">AMERICAN UNITY PAC INC</a><br>( Super PAC )</td><td>$1,614,252</td><td>supporting Republicans</td><td>$1,882,938</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/planned-parenthood-votes/C00489799/">PLANNED PARENTHOOD VOTES</a><br>( Super PAC )</td><td>$1,601,624</td><td>attacking Republicans</td><td>$1,468,473</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/freedomworks-for-america/C00499020/">FREEDOMWORKS FOR AMERICA</a><br>( Super PAC )</td><td>$1,483,821</td><td>supporting Republicans</td><td>$365,464</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/fair-share-action/C00526673/">FAIR SHARE ACTION</a><br>( Super PAC )</td><td>$1,451,008</td><td>attacking Republicans</td><td>$368,060</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/values-are-vital/C00552422/">VALUES ARE VITAL</a><br>( Super PAC )</td><td>$1,416,792</td><td>attacking Republicans</td><td>$294</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/defending-main-street-superpac-inc/C00540203/">DEFENDING MAIN STREET SUPERPAC INC</a><br>( Super PAC )</td><td>$1,387,830</td><td>supporting Republicans</td><td>$558,421</td><td>Oct. 15, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/americans-for-common-sense-afcs/C00562413/">AMERICANS FOR COMMON SENSE (AFCS)</a><br>( Super PAC )</td><td>$1,342,574</td><td>attacking Republicans</td><td>$12,605</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/americans-for-progressive-action/C00545590/">AMERICANS FOR PROGRESSIVE ACTION</a><br>( Super PAC )</td><td>$1,326,828</td><td>supporting Republicans</td><td>$0</td><td>Dec. 31, 2013</td></tr>
        
        <tr class="odd"><td><a href="/committee/tea-party-patriots-citizens-fund/C00540898/">TEA PARTY PATRIOTS CITIZENS FUND</a><br>( Super PAC )</td><td>$1,261,936</td><td>supporting Republicans</td><td>$204,532</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/texans-for-a-conservative-majority/C00542217/">TEXANS FOR A CONSERVATIVE MAJORITY</a><br>( Hybrid super PAC )</td><td>$1,117,834</td><td>attacking Republicans</td><td>$1,121,131</td><td>Oct. 15, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/ce-action-committee/C00542779/">CE ACTION COMMITTEE</a><br>( Super PAC )</td><td>$1,077,016</td><td>attacking Democrats</td><td>$3,723</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/john-bolton-super-pac/C00542464/">JOHN BOLTON SUPER PAC</a><br>( Super PAC )</td><td>$1,049,163</td><td>supporting Republicans</td><td>$578,667</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/government-integrity-fund-action-network-the/C00498832/">GOVERNMENT INTEGRITY FUND ACTION NETWORK; THE</a><br>( Super PAC )</td><td>$1,047,880</td><td>supporting Republicans</td><td>$4,466</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/vote-2-reduce-debt-v2rd/C00563064/">VOTE 2 REDUCE DEBT (V2RD)</a><br>( Super PAC )</td><td>$1,006,742</td><td>supporting Republicans</td><td>$36,159</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/sierra-club-independent-action/C00483693/">SIERRA CLUB INDEPENDENT ACTION</a><br>( Super PAC )</td><td>$1,000,576</td><td>supporting Republicans</td><td>$39,657</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/alaska-salmonpac/C00564047/">ALASKA SALMONPAC</a><br>( Super PAC )</td><td>$803,800</td><td>supporting Democrats</td><td>$296,338</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/southern-conservatives-fund-inc/C00560763/">SOUTHERN CONSERVATIVES FUND INC</a><br>( Super PAC )</td><td>$791,725</td><td></td><td>$15,794</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/liberty-and-leadership-fund/C00554782/">LIBERTY AND LEADERSHIP FUND</a><br>( Super PAC )</td><td>$692,201</td><td>attacking Republicans</td><td>$14,612</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/citizens-4-ethics-in-government/C00524082/">CITIZENS 4 ETHICS IN GOVERNMENT</a><br>( Super PAC )</td><td>$665,115</td><td>supporting Republicans</td><td>$106</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/women-speak-out-pac/C00530766/">WOMEN SPEAK OUT PAC</a><br>( Super PAC )</td><td>$652,022</td><td>attacking Democrats</td><td>$592,508</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/american-principles-fund/C00544387/">AMERICAN PRINCIPLES FUND</a><br>( Super PAC )</td><td>$634,983</td><td>attacking Republicans</td><td>$127,853</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/alaskas-energy-americas-values/C00552414/">ALASKA&#39;S ENERGY / AMERICA&#39;S VALUES</a><br>( Super PAC )</td><td>$634,321</td><td>supporting Republicans</td><td>$250,494</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/b-pac/C00567982/">B-PAC</a><br>( Super PAC )</td><td>$606,515</td><td>attacking Democrats</td><td>$477,534</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/americas-pac/C00559906/">AMERICAS PAC</a><br>( Super PAC )</td><td>$534,115</td><td>attacking Democrats</td><td>$25,600</td><td>Dec. 31, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/the-mobilization-project/C00546911/">THE MOBILIZATION PROJECT</a><br>( Super PAC )</td><td>$532,446</td><td>supporting Democrats</td><td>$14,340</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/now-or-never-pac/C00513432/">NOW OR NEVER PAC</a><br>( Super PAC )</td><td>$532,061</td><td>attacking Republicans</td><td>$17,555</td><td>Dec. 31, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/new-republicanorg/C00544544/">NEW REPUBLICAN.ORG</a><br>( Super PAC )</td><td>$507,078</td><td>supporting Republicans</td><td>$1,389</td><td>Dec. 31, 2014</td></tr>
        
        <tr class="even"><td><a href="/committee/national-draft-ben-carson-for-president-committee/C00548420/">NATIONAL DRAFT BEN CARSON FOR PRESIDENT COMMITTEE</a><br>( Super PAC )</td><td>$496,179</td><td>attacking Democrats</td><td>$806,668</td><td>Sept. 30, 2014</td></tr>
        
        <tr class="odd"><td><a href="/committee/new-york-2014/C00563171/">NEW YORK 2014</a><br>( Super PAC )</td><td>$482,266</td><td>supporting Republicans</td><td>$771,743</td><td>Sept. 30, 2014</td></tr>
        
    </tbody>
</table>


