


<div class="module RT clearfix">
       <h3>Independent Expenditures, 2013/14 Cycle</h3>
       <div id="timestamp"><strong>Last update:</strong>  Jan. 27, 2015 | 9:47 a.m.</div>
       
        <div style="clear:both;">
        <div class="clearfix">
    Overview Pages: 

							<a href="/overview/roi/">Return on investment</a>&nbsp;|&nbsp;
    					<a href="/overview/results/">Results</a>&nbsp;|&nbsp;
              <a href="/overview/">Cycle Overview</a>&nbsp;|&nbsp;
              <a href="/overview/outside-money/">Outside Money</a>&nbsp;|&nbsp;
              <a href="/overview/super-pacs/">Super PACs</a>&nbsp;|&nbsp;
              <a href="/overview/dark-money/">Dark Money</a>&nbsp;|&nbsp;
              <a href="/overview/connected/">Connected PACs</a>
</div>
        
             
        <p class="tip">All numbers are for the entire two-year cycle, beginning Jan. 1, 2013 through 9:47 a.m., Jan. 27, 2015.
           <div class="numeric_summary">
           <span class="amount_description">Total Independent Expenditures:</span>&nbsp;<span class="amount_dollars">$821.7 million</span>
           </div>
        <p>The numbers on this page refer to "<a href="http://www.fec.gov/pages/brochures/indexp.shtml">independent expenditures</a>," the most important class of spending through which outside groups try to influence voters. Most of the money underwriting this spending&mdash;which includes TV ads, robocalls, mailers and even get out the vote efforts&mdash;comes from groups that aren't subject to contribution limits, like Super PACs and political nonprofits. Some do not report their donors at all. By law, these groups cannot "coordinate" with the candidate they are supporting or opposing, though those rules have been criticized as ineffectual. Party committees and traditional PACs may also make independent expenditures. </p>
    </div>

<div class="overviewBar withNav withTip" id="positive">
    <h4>Positive vs Negative </h4>
</div>
<h4>Overall</h4>
<div class="numeric_summary">
<span class="amount_description">Supporting a candidate:</span>&nbsp;<span class="amount_dollars">$114.3 million</span>
<br><span class="amount_description">Opposing a candidate:</span>&nbsp;<span class="amount_dollars">$304.3 million</span>
</div>
<p>Groups making independent expenditures must indicate whether the action either supports or opposes the candidates; there's no option to say that a single communication does both. Some groups, however, seem to report a single ad buy in two parts. The determination of whether a communication is positive or negative is solely up to the submitting group and is not audited.</p>

<h4>By targeted candidate's political party</h4>
<div class="numeric_summary">
<span class="amount_description">Supports a Republican:</span>&nbsp;<span class="amount_dollars">$80.2 million</span>
<br><span class="amount_description">Supports a Democrat:</span>&nbsp;<span class="amount_dollars">$29.6 million</span>
<br><span class="amount_description">Opposes a Democrat:</span>&nbsp;<span class="amount_dollars">$109.8 million</span>
<br><span class="amount_description">Opposes a Republican:</span>&nbsp;<span class="amount_dollars">$192.8 million</span>
</div>

<p>The numbers above include all spending, including in the primaries, so it's not necessarily easy to impute party affiliation from these. Some of the ads targeting Republicans in the primary, for instance, were run by other GOP groups.</p>
    
<div class="overviewBar withNav withTip" id="type">
    <h4>Spending group type</h4>
</div>
<div class="numeric_summary">
<span class="amount_description">Super PACs:</span>&nbsp;<span class="amount_dollars">$177.3 million</span>
<br><span class="amount_description">Party Committees:</span>&nbsp;<span class="amount_dollars">$63.4 million</span>
<br><span class="amount_description">Non-committees:</span>&nbsp;<span class="amount_dollars">$103.4 million</span>
<br><span class="amount_description">Other PACs:</span>&nbsp;<span class="amount_dollars">$28.8 million</span>
</div>
<p>Super PACs include "hybrid super PACs" and are not subject to contribution limits; Party committees include all party committees, not just the four major ones. Dark money groups are entities&mdash;typically 501(c)(4)s, but sometimes corporations, LLC's or individuals&mdash;that haven't registered as political groups with the FEC because they do not consider politics to be their "primary purpose". As such, these groups aren't required to report their donors, but do report their independent expenditures. These groups, it should be noted, are not required to report "issue ads" they run supporting or criticizing candidates more than 60 days before a general election or 30 days before a general election if the ads are not considered "<a href="http://www.gpo.gov/fdsys/pkg/CFR-2014-title11-vol1/xml/CFR-2014-title11-vol1-sec100-22.xml">express advocacy</a>".Other PACs include traditional PACs which are subject to contribution limits.</p>

<div class="overviewBar withNav withTip" id="alignment">
    <h4>By spending committee's political alignment</h4>
</div>
<div class="numeric_summary">
<span class="amount_description">Leans Democratic:</span>&nbsp;<span class="amount_dollars">$122.1 million</span>
<br><span class="amount_description">Leans Republican:</span>&nbsp;<span class="amount_dollars">$155.2 million</span>
</div>
<p>The committees making independent expenditures are not required to declare their political affiliation; reporters at Sunlight have classified them based on their spending patterns. Approximately $95,590,140 in spending is not characterized as either leaning left or right.</p>

<div class="overviewBar withNav withTip" id="office">
    <h4>House or Senate</h4>
</div>
<div class="numeric_summary">
<span class="amount_description">Senate:</span>&nbsp;<span class="amount_dollars">$289.1 million</span>
<br><span class="amount_description">House:</span>&nbsp;<span class="amount_dollars">$129.3 million</span>
</div>
<p></p>


</div>