{% load humanize %}
{% load staticfiles %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="http://assets.sunlightfoundation.com/scripts/sorttable/sorttable.min.js"></script>
<script>
$(document).ready(function() {
$('a.toggler').click(function(ev) {
ev.preventDefault();
var groupId = $(this).attr('data-groupid');
$("#" + groupId).slideToggle();
});
});
</script>



{% for object in outside_spenders %}
<div class="group">
    
    <h2 style="color: rgb(0, 102, 51); text-align: center; "><a target="_null" href="{{object.get_absolute_url}}">{{object.name}}</a></h2>
    <h2 style="text-align: center; "></h2>
    <!-- <h3 style="text-align: center; ">Total primary/runoff spending: $13,021,696</h3> -->
        <table class="roi-table summary">
            <thead>
                <tr>
                    <th class="t-right">Total 2014 General Election Spending<br> On Identifiable Candidates</th>
                    <th class="t-left verdict">Percent Success <span class="success">success</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="t-right">${{object.get_ge_spending|floatformat:"0"|intcomma}}</td>
                    <td class="t-left"><strong>{{ object.get_formatted_roi }}</strong></td>
                </tr>
            </tbody>
        </table>

    <div id="shell" class="details">
        <ul>
            <li>
                <strong>Positive General Election Spending: ${{ object.get_pos_ge_spending|floatformat:"0"|intcomma}}</strong><br>
								<ul>
								<li>${{ object.support_winners|floatformat:"0"|intcomma}} spent supporting winners</li> 
								<li>${{ object.support_losers|floatformat:"0"|intcomma}} spent supporting losers</li>
								<li>${{ object.support_unclassified|floatformat:"0"|intcomma}} spent supporting candidates in undecided races.</li>
								</ul>
            </li>
            <li>
                <strong>Negative General Election Spending: ${{ object.get_neg_ge_spending|floatformat:"0"|intcomma}}</strong>
                <ul>
									<li>${{ object.oppose_winners|floatformat:"0"|intcomma}} spent opposing winners</li>
									<li>${{ object.oppose_losers|floatformat:"0"|intcomma}} spent opposing losers</li>
									<li>${{ object.oppose_unclassified|floatformat:"0"|intcomma}} spent opposing candidates in undecided races.</li>
								</ul>
            </li>

        </ul>
        <p style="text-align: center;">
        See <a target="_null" href="{{ object.get_filtered_ie_url }}">all independent expenditures this cycle</a> (including general election) made by {{object.name}}
        </p>
    </div>
    <a class="toggler" data-groupid="{{ object.fec_id}}" href="#">Show primary breakdown table</a>
    <div id="{{ object.fec_id}}" style="display:none;">
        <p><small>Click headings to sort; only candidates targeted with $50,000 or more in independent expenditures are listed below.</small></p>
        <table id="hor-minimalist-a" class="sortable roi-table">
        <thead>
            <tr>
            <th scope="col">Support or oppose</th>

            <th scope="col">Candidate</th>
            <th scope="col">Office</th>
            <th scope="col">Amount</th>
            <th scope="col">Result</th>
            <th scope="col">Success</th>      

            </tr>
        </thead>
        <tbody>

            	{% for ge in object.ge %}
							<tr>
                <td>{{ ge.show_support_oppose }}</td>
                <td><a target="_null" href="{{ ge.candidate.get_absolute_url}}">{{ ge.candidate.name}} {{ge.candidate.display_party }} </a></td>
                <td><a target="_null" href="{{ ge.candidate.district.get_absolute_url}}">{{ge.candidate.detailed_office}}</a></td>
                <td>${{ ge.total_ind_exp|floatformat:"0"|intcomma}}</td> 
                <td>{{ ge.candidate.get_general_status}}</td>  
                <td class="verdict">{{ ge.verdict }}</td>               
            </tr>
						{% endfor %}

        </tbody>


        <tfoot></tfoot></table>
        <a class="toggler" data-groupid="{{ object.fec_id}}" href="#">Collapse table</a>

    </div>
</div>
{% endfor %}