# pegging at 1.5 because of django.conf.urls.default error (easily fixed, though?)
django==1.5
# It would be silly to run this without postgres
psycopg2
# for hstore
git+git://github.com/niwibe/djorm-ext-hstore.git
python-dateutil
pytz
lxml
requests
cssselect

# for parsing legislators -- don't care about performance...
pyyaml

# pushing to s3
boto

# for running all the stuff
supervisor
redis
celery
django-redis
# brisket stuff
django_compressor


-e git+https://github.com/sunlightlabs/dryrub.git#egg=dryrub

# from other branch

# api
djangorestframework

# experimenting with this for csv support:
djangorestframework-csv
# CORS support
django-cors-headers

django-filter
django-debug-toolbar
south

# fuzzy matching etc
-e git+git://github.com/seatgeek/fuzzywuzzy.git#egg=fuzzywuzzy
jellyfish
nameparser

# locksmith client keys branch; pull with : pip install -U 

-e git+https://github.com/jsfenfen/django-locksmith.git@client-keys#egg=locksmith
SimpleAES==1.0

