
django>=1.5
# It would be silly to run this without postgres
psycopg2
# for hstore
git+git://github.com/niwibe/djorm-ext-hstore.git
python-dateutil
pytz
lxml
requests
cssselect

# for parsing legislators -- don't care about performance...
pyyaml

# for running all the stuff
supervisor
redis
celery

# brisket stuff
django_compressor

# may get versioning
-e git+https://github.com/sunlightlabs/dryrub.git#egg=dryrub

# api branch
djangorestframework
django-filter