{# committee details #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" /> 
{{ block.super }}
{% endblock sitecss %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

 {% block rtmain %}

<div class="module">
  {% if candidate.is_electronic_filer %}<b>Alerts: </b><a class="link" href="javascript:submit_gotoscout_candidates('{% for committee in authorized_committee_list %}{{ committee.committee_id }}{% if not forloop.last %}-{% endif %}{% endfor %}');">Get automatic alerts</a> when this candidate files new campaign finance reports{% endif %}
  
<div class="numeric_summary">

<span class="amount_description">Candidate Spending:</span>&nbsp;<span class="amount_dollars">{% if candidate.total_disbursements %}${{candidate.total_disbursements|intcomma}}{% else %}$0{% endif %}</span>  

<br><span class="amount_description">Candidate's Cash (as of {{ candidate.cash_on_hand_date }})</span>&nbsp;<span class="amount_dollars">{% if candidate.cash_on_hand %}${{candidate.cash_on_hand|intcomma}}{% else %}$0{% endif %}</span>

<br><span class="amount_description">Outside support</span>&nbsp;<span class="amount_dollars">{% if candidate.expenditures_supporting %}${{candidate.expenditures_supporting|intcomma}}{% else %}$0{% endif %}</span>

<br><span class="amount_description">Outside opposition</span>&nbsp;<span class="amount_dollars">{% if candidate.expenditures_opposing %}${{candidate.expenditures_opposing|intcomma}}{% else %}$0{% endif %}</span>

</div>
{% if candidate.not_seeking_reelection %}This candidate is not seeking reelection to this position.{% endif %}{% if candidate.other_office_sought %} This candidate is running for {% if candidate.other_fec_id %}<a href="/candidate/{{candidate.slug}}/{{candidate.other_fec_id}}">{% endif %}{{ candidate.other_office_sought }}{% if candidate.other_fec_id %}</a>{% endif %}.{% endif %}

<p>{% if candidate.is_incumbent %}Incumbent {% else %}Candidate for {% endif %} <a href="{{ candidate.district.get_absolute_url }}">{{ candidate.detailed_office}}</a>. {{candidate.next_election}}
<br>Authorized committee(s): {% for committee in authorized_committee_list %}<a href="/committee/{{committee.committee_name|slugify}}/{{committee.committee_id}}/">{{committee.committee_name}}</a>{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}{% endfor %}
{% if outside_spenders %}
<div class="overviewBar withNav withTip">
    <h4>Outside groups supporting or opposing this candidate</h4>
</div>
<p>Committees supporting or opposing this candidate with independent expenditures of $1,000 or more are listed below.</p>

<table id="mainPageTable" class="sortable">
  <thead>
    <tr>
      <th class="sort">Committee</th>
      <th class="sort">Support / Oppose</th>
      <th class="sort">Total outside spending</th>
    </tr>
    </thead>
    <tbody>
      {% for object in outside_spenders %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{{object.committee.get_absolute_url}}">{{object.committee.name}}</a></td>
        <td>{{object.support_or_oppose|safe}}</td>
        <td>${{object.total_ind_exp|intcomma}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

<div class="overviewBar withNav withTip">
    <h4>Candidate Filings</h4>
</div>

<table id="mainPageTable" class="sortable">
            <thead>
              <tr>
                <th>Filing ID (Type)</th>
                <th>Committee Name</th>
                <th>Coverage Date</th>
                <th class="sort">Raised</th>
                <th class="sort">Spent</th>
                <th class="sort">Cash on hand</th>
                <th class="sort">Debts</th>
                
              </tr>
              </thead>
              <tbody>
                  {% for object in report_list %}    
                      <tr class="{% cycle 'odd' 'even' %}">
                          <td>{% if object.filing_number %}<a href="{{object.get_fec_url}}">{{ object.filing_number }}</a>{% else %}<a href="http://query.nictusa.com/cgi-bin/fecimg/?{{ object.com_id}}">paper filing</a>{% endif %}</td>
                          <td>{{ object.com_name }}</td>
                          <td>{% if object.coverage_through_date %}{{ object.coverage_from_date|date:"n/j/y" }} - {{ object.coverage_through_date|date:"n/j/y" }}{% endif %}</td> 
                          <td>{% if object.tot_receipts %}{% if object.filing_number %}<a href="{{object.get_skeda_url}}">{% endif %}${{ object.tot_receipts|intcomma }}</a>{% else %}$0{% endif %}</td>
                          <td>{% if object.tot_disburse %}{% if object.filing_number %}<a href="{{object.get_skedb_url}}">{% endif %}${{ object.tot_disburse|intcomma }}{% if object.filing_number %}</a>{% endif %}{% else %}$0{% endif %}</td>
                          <td>{% if object.cash_on_hand_end %}${{ object.cash_on_hand_end|intcomma }}{% else %}$0{% endif %}</td>
                          <td>{% if object.outstanding_loans %}${{ object.outstanding_loans|intcomma }}{% else %}$0{% endif %}</td> 
                          
                        </tr>
                  {% endfor %}
                  
</tbody>
</table>
</div>
{% endblock %}

{% block sitejs %}
{{ block.super }}
<script src="{% static 'realtimefec/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
{% include "includes/go_to_scout.js" %}
{% endblock %}

