{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}


{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" /> 

{{ block.super }}
{% endblock sitecss %}

{% block sitejs %}
<script type="text/javascript" src="{% static 'realtimefec/js/handlebars.js' %}"></script>
<script type="text/javascript" src="{% static 'realtimefec/js/jquery-ui-1.10.3.custom.min.js' %}"></script> 

{% endblock %}



{% block body_class %}{% endblock %}

{% block pagetitle %}Chart Listing{% endblock %}

 {% block rtmain %}

<div class="module">
    <h3>Chart listing</h3>
        This is a listing of available charts, which are embeddable on other sites or blogs. These charts update with new numbers each week. The "blog" versions of the chart are 650px wide; the "feature" versions of them are 870px wide. Both are about 500 px high. To embed these, use slightly larger dimensions. For example:
            
            <br><code>&lt;iframe src="http://realtime.influenceexplorer.com/charts/contributions/0/blog/" width="660" height="520" frameborder="0" scrolling="no"&gt; &lt;/iframe&gt;</code>
            <br> Or:
            <br><code>&lt;iframe src="http://realtime.influenceexplorer.com/charts/contributions-cumulative/0/feature/" width="880" height="520" frameborder="0" scrolling="no"&gt; &lt;/iframe&gt;</code>
            <br>The charts do not work on very old web browsers; Internet Explorer 10 or higher is required to view them.
        <br><br>
    <h3>Contributions</h3>
    All Itemized Super PAC Contributions: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions/0/{{ type}}/">weekly ({{ type}})</a>{% endfor %}{% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions-cumulative/0/{{ type}}/">cumulative ({{ type}}) </a>{% endfor %}
    <br>  Itemized Super PAC Contributions by party: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions/1-2/{{ type}}/">weekly ({{ type}})</a>{% endfor %}{% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions-cumulative/1-2/{{ type}}/">cumulative ({{ type}})</a>{% endfor %}
    <br><br>
    
    
    <h3>Outside spending by race</h3>
    Weekly outside spending for competitive senate races: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/senate-races/{{ type}}/">weekly ({{ type}})</a>{% endfor %}    
    <br><br>
    
    <h3>Independent Expenditures</h3>
    {% for chart in chart_list %}
       <br>  {{ chart.name }}: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/spending/{{ chart.race_id }}/{{ type}}/">weekly ({{ type}}){% endfor %}{% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/spending-cumulative/{{ chart.race_id }}/{{ type}}/">cumulative ({{ type}})</a>{% endfor %}
     {% endfor %}
     </div>
</div>


  {% endblock %}

