{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}


{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" /> 

{{ block.super }}
{% endblock sitecss %}

{% block sitejs %}
<script type="text/javascript" src="{% static 'realtimefec/js/handlebars.js' %}"></script>
<script type="text/javascript" src="{% static 'realtimefec/js/jquery-ui-1.10.3.custom.min.js' %}"></script> 

{% endblock %}



{% block body_class %}{% endblock %}

{% block pagetitle %}Chart Listing{% endblock %}

 {% block rtmain %}

<div class="module">
    <h3>Chart listing</h3>
        This is a listing of available charts, which are embeddable on other sites or blogs. These charts update with new numbers each week. 
        <br><br>There are three widths available: "narrow", "blog" and "feature". The narrow versions of the charts are 580 pixels wide; the "blog" versions of the chart are 650 pixels wide; and "feature" versions are 870px wide (and use slightly different styling). All are about 500 px high. To embed these, use slightly larger dimensions. For example:
 
<iframe src="http://realtime.influenceexplorer.com/charts/senate-races/blog/" width="660" height="520" frameborder="0" scrolling="no"> </iframe>            
<br><code>&lt;iframe src="http://realtime.influenceexplorer.com/charts/senate-races/blog/" width="660" height="520" frameborder="0" scrolling="no"&gt; &lt;/iframe&gt;</code>

<iframe src="http://realtime.influenceexplorer.com/charts/spending/1-2-3/narrow/" width="590" height="520" frameborder="0" scrolling="no"> </iframe> 
    <br><code>&lt;iframe src="http://realtime.influenceexplorer.com/charts/spending/1-2-3/narrow/" width="590" height="520" frameborder="0" scrolling="no"&gt; &lt;/iframe&gt;</code>


<br><b>Weekly vs. Cumulative views</b>
<p>For data that's noisy week-to-week, the cumulative views provide a better idea of the big picture. For example, the weekly contributions to democratic Super PACs follows an irregular pattern:</p>

<iframe src="http://realtime.influenceexplorer.com/charts/contributions/1-2/feature/" width="880" height="520" frameborder="0" scrolling="no"> </iframe> 
            <br><code>&lt;iframe src="http://realtime.influenceexplorer.com/charts/contributions/1-2/feature/" width="880" height="520" frameborder="0" scrolling="no"&gt; &lt;/iframe&gt;</code>

<p>But the week-to-date view makes the bottom line clearer:</p>
	<iframe src="http://realtime.influenceexplorer.com/charts/contributions-cumulative/1-2/feature/" width="880" height="520" frameborder="0" scrolling="no"> </iframe> 
            <br><code>&lt;iframe src="http://realtime.influenceexplorer.com/charts/contributions-cumulative/1-2/feature/" width="880" height="520" frameborder="0" scrolling="no"&gt; &lt;/iframe&gt;</code>



            <br>The charts do not work on very old web browsers; Internet Explorer 9 or higher is required to view them.
        <br>
    <br>
    
    <h3>Outside spending by race</h3>
    Weekly outside spending for competitive senate races: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/senate-races/{{ type}}/">weekly ({{ type}})</a>{% endfor %}    
    <br>
    <br>
    <h3>Contributions</h3>
    All Itemized Super PAC Contributions: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions/0/{{ type}}/">weekly ({{ type}})</a>{% endfor %}{% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions-cumulative/0/{{ type}}/">cumulative ({{ type}}) </a>{% endfor %}
    <br>  Itemized Super PAC Contributions by party: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions/1-2/{{ type}}/">weekly ({{ type}})</a>{% endfor %}{% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/contributions-cumulative/1-2/{{ type}}/">cumulative ({{ type}})</a>{% endfor %}
    <br>Note that contributions are disclosed on regular filings; there are no contributions reported after the deadline of the most recent regular reports.<br><br>
    
    <h3>Independent Expenditures</h3>
    {% for chart in chart_list %}
       <br>  {{ chart.name }}: {% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/spending/{{ chart.race_id }}/{{ type}}/">weekly ({{ type}}){% endfor %}{% for type in type_list %}&nbsp;|&nbsp;<a href="/charts/spending-cumulative/{{ chart.race_id }}/{{ type}}/">cumulative ({{ type}})</a>{% endfor %}
     {% endfor %}
     </div>
</div>


  {% endblock %}

