{# list districts #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}



{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

{% block rtmain %}


<div class="overviewBar withNav withTip">
    <h4>Senate</h4>
</div>
<div class="module">




<p class="tip">For house districts see <a href="#house">here</a></p>
<table id="mainPageTable" class=" compressed sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">State</th>
                      <th class="sort">Incumbent</th>
                      <th class="sort">Open Seat?</th>
                      <th class="sort">Election Year</th>
                      <th class="sort">Candidate Fundraising</th>
                      <th class="sort">Candidate Spending</th>
                      <th class="sort">Coordinated Spending</th>
                      <th class="sort">Outside Spending</th>
                      <th class="sort">Total Spending</th>
                  </tr>
              </thead>
              <tbody>
                {% for object in senate_districts %}
                  <tr class="{% cycle 'odd' 'even' %}">
                      <td>{{ object.state}}{% if object.office_district %}-{{object.office_district}}{% endif %}</td>
                      <td>{{object.incumbent_name}} ({{object.incumbent_party}})</td>
                      <td>{% if open_seat %}Y{% else %}N{% endif %}</td>
                      <td>{{ object.election_year }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>
                {% endfor %}

</tbody>
</table>

<h4 id="house">House</h4>
<table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">District</th>
                      <th class="sort">Incumbent</th>
                      <th class="sort">Open Seat?</th>
                      <th class="sort">Election Year</th>
                      <th class="sort">Candidate Fundraising</th>
                      <th class="sort">Candidate Spending</th>
                      <th class="sort">Coordinated Spending</th>
                      <th class="sort">Outside Spending</th>
                      <th class="sort">Total Spending</th>
                  </tr>
              </thead>
              <tbody>
                {% for object in house_districts %}
                  <tr class="{% cycle 'odd' 'even' %}">
                      <td>{{ object.state}}{% if object.office_district %}-{{object.office_district}}{% endif %}</td>
                      <td>{{object.incumbent_name}} ({{object.incumbent_party}})</td>
                      <td>{% if open_seat %}Y{% else %}N{% endif %}</td>
                      <td>{{ object.election_year }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      </tr>
                {% endfor %}

</tbody>

</table>


</div>
  {% endblock %}

