{# list districts #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}



{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

{% block rtmain %}


<div class="overviewBar withNav withTip">
    <h4>Races</h4>
</div>
<div class="module">





<table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">District</th>
                      <th class="sort">Incumbent</th>
                      <th class="sort">Open Seat?</th>
                      <th class="sort">Election Year</th>
                      <th class="sort">Candidate Fundraising</th>
                      <th class="sort">Candidate Spending</th>
                      <th class="sort">Outside Spending</th>
                      <th class="sort">Total Spending</th>
                  </tr>
              </thead>
              <tbody>
                {% for object in races %}
                  <tr class="{% cycle 'odd' 'even' %}">
                      <td><a href="{{ object.get_absolute_url }}">{{ object.district_formatted }}</a></td>
                      <td>{{object.incumbent_name}} ({{object.incumbent_party}})</td>
                      <td>{% if open_seat %}Y{% else %}N{% endif %}</td>
                      <td>{{ object.election_year }}</td>
                      <td>${{ object.candidate_raised|intcomma }}</td>
                      <td>${{ object.candidate_spending|intcomma }}</td>
                      <td>${{ object.outside_spending|intcomma }}</td>
                      <td>${{ object.total_spending|intcomma }}</td>                  

                      </tr>
                {% endfor %}

</tbody>
</table>

</div>
{% endblock %}