{# list of current legislators, either house or senate or something #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sitejs %}
<script type="text/javascript" src="{% static 'realtimefec/js/handlebars.js' %}"></script>
{# <script type="text/javascript" src="{% static 'realtimefec/js/jquery-ui-1.10.3.custom.min.js' %}"></script> #}

{% endblock %}

{% block sitecss %}
{{ block.super }}
{# <link rel="stylesheet" href="{% static 'realtimefec/css/jquery-ui-1.10.3.custom.min.css' %}" /> #}
<link rel="stylesheet" href="{% static 'realtimefec/css/chosen.min.css' %}" />

{% endblock sitecss %}


{% block body_class %}{% endblock %}

{% block pagetitle %}Newest Filings {% endblock %}

{% block rtmain %}

<div class="module">

    <div id="formdiv" class="clearfix">
        <div class="form-row clearfix">
              <label>Quick Filters: </label>
              <div class="form_spacer">
                  <a href="javascript:search_all();">All Today</a>&nbsp;|&nbsp;
                  <a href="javascript:search_ies();">Independent Expenditures</a>&nbsp;|&nbsp;
                  <a href="javascript:search_committees();">Candidate Committees</a>&nbsp;|&nbsp;
                  <a href="javascript:search_superpacs();">Super PACs</a>&nbsp;|&nbsp;
                  <a href="javascript:search_party();">Party Committees</a>
              </div>
        </div>

        <div class="form-row clearfix form-break">
            
            <div class="form_spacer">
                <label>Candidate:</label>
                <select data-placeholder="Pick a house candidate..."tabindex="2" name="candidate_id" id="candidate_id"  class="dropdown_field_long chosen-select">
                    <option value=''>Any Candidate</option>
                    {% for candidate in candidates %}
                    <option value='{{ candidate.fec_id}}'>{{ candidate.name }} {{ candidate.display_party}} {{ candidate.short_office }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form_spacer">
                <label>Committee: </label>
                <input type="text"  id="search_term" name="search_term" class="text_field"></input>
                
            </div>
        </div>

        <div class="form-row clearfix">
          
          <div class="form_spacer">
              <label>Committee type:</label>
              <select name="committee_type" id="committee_class" class="dropdown_super_narrow">
                  <option value=''>All</option>
                  <option value='H'>House</option>
                  <option value='S'>Senate</option>                  
                  <option value='HSP'>Any Candidate</option>
                  <option value='UOVW'>Super PACs (including hybrids)</option>
                  <option value='UO'>Super PACs (NOT including hybrids)</option>
                  <option value='L'>Leadership PAC</option>
                  <option value='J'>Joint Fundraiser</option>
                  <option value='P'>Presidential</option>
                  <option value='E'>Electioneering Communication</option>
                  <option value='XYZ'>Party Committees</option>
                  <option value='I'>Non Committees</option>
                  <option value='C'>Communication Cost</option>
              </select>
            </div>
          
            <div class="form_spacer">
                <label>Date filed:</label>
                <select name="time_range" id="time_range" class="dropdown_super_narrow">
                  <option value='day'>today</option>
                  <option value='week'>last 7 days</option>
                  <option value='cycle'>entire cycle</option>
                </select>
            </div>

            <div class="form_spacer">
                <label>Period:</label>
                <select name="form_type" id="period_type" class="dropdown_super_narrow">
                    <option value=''>All</option>
                    <option value='Q1'>Quarterly: Q1</option>
                    <option value='Q2'>Quarterly: Q2</option>
                    <option value='Q3'>Quarterly: Q3</option>
                    <option value='Q4'>Quarterly: Q4</option>
                    <option value='S1'>Semiannual: Jan.-Jun.</option>
                    <option value='S2'>Semiannual: Jul.-Dec.</option>
                    <option value='M1'>Monthly: Jan.</option>
                    <option value='M2'>Monthly: Feb.</option>
                    <option value='M3'>Monthly: Mar.</option>
                    <option value='M4'>Monthly: Apr.</option>
                    <option value='M5'>Monthly: May</option>
                    <option value='M6'>Monthly: Jun.</option>
                    <option value='M7'>Monthly: July</option>
                    <option value='M8'>Monthly: Aug.</option>
                    <option value='M9'>Monthly: Sept.</option>
                    <option value='M10'>Monthly: Oct.</option>
                    <option value='M11'>Monthly: Nov.</option>
                    <option value='M12'>Monthly: Dec.</option>
                </select>
            </div>
            <div class="form_spacer">
                <label>Year:</label>
                <select name="year_covered" id="year_covered" class="dropdown_super_narrow" style="width: 100px;">
                    <option value=''>All</option>
                    <option value='2013'>2013</option>
                    <option value='2012'>2012</option>
                </select>
            </div>
                        
        </div>


        <div class="form-row clearfix">
          <div class="form_spacer">
          
              <label>Filing Type:</label>
              <select name="form_type" id="report_type" style="width:150px;">
                  <option value=''>All</option>
                  <option value='monthly'>Monthly/quarterly reports</option>
                  <option value='ies'>Independent/coordinated expenditures</option>
                  <option value='F6'>48-hour notice of contributions/loans received</option>
                  <option value='F9'>24-hour notice of electioneering communications</option>
                  <option value='F2'>Statement of candidacy</option>
                  <option value='F4'>Convention committee report</option>
                  <option value='F13'>Inaugural committee report</option>

              </select>
          </div>
          
            <div class="form_spacer">
                <label>Minimum raised:</label>
                <input type="text" class="dollar_field" id="min_raised" name="min_raised"></input>
            </div>

            <div class="form_spacer">
                <label>Minimum cash on hand:</label>
                <input type="text" class="dollar_field" id="min_coh" name="min_coh"></input>
            </div>
        </div>

        <div class="form-row clearfix form-break">
            <div class="form_spacer">
                <label>Order by:</label>
                <select name="order_field" class="dropdown_field_narrow" id="ordering">
                    <option value='-filing_number'>newest-to-oldest</option>
                    <option value='-coh_end'>cash on hand</option>
                    <option value='-tot_raised'>total raised</option>
                    <option value='-tot_spent'>total spent</option>
                    <option value='committee_name'>committee name</option>
                    <option value='-new_loans'>new loans</option>

                </select>
            </div>
            <div class="form_spacer">
                <label>Amendments:</label>
                <select name="is_superceded" class="dropdown_field_narrow" id="is_superceded" style="width: 100px;">
                    <option value=''>All</option>
                    <option value='False'>only final versions</option>
                    <option value='True'>only amended originals</option>

                </select>
            </div>
            <input type="button" value="Filter Filings" id="load_button" />
        </div>
        
    </div>

    <span id="display_info"></span><span id="csv_info" class="tip"></span>
    
    <div class="pagination_container">
        <div class="load_next" style="float: right; width: 200px;"></div>
        <div class="load_previous" style="float: left; width: 200px; z-index:100;"></div>
    </div>

    <table id="mainPageTable">
        <thead>
              <tr id="titles">
                  <th>Filing ID (Type)</th>
                  <th>Committee - Form</th>
                  <th>Coverage Date</th>
                  <th >Raised</th>
                  <th >Spent</th>
                  <th >Cash on hand</th>
                  <th >New Loans</th>
                  <th >Filing Date</th>
                </tr>
          </thead>
          <tbody id="maintablebody">
          </tbody>
    </table>

    <div class"clearfix">
        <div class="load_next" style="float: right; width: 200px;"></div>
        <div class="load_previous" style="float: left; width: 200px;"></div>
    </div>

</div>
{% verbatim %}
<script id="row-template" type="text/x-handlebars-template" >
   <tr class="{{ class }}">
        <td><a href="{{ absolute_url}}"  class="link">{{ filing_number }}</a> {{ form_name }}</td>
        <td><a href="{{ committee_url}}"  class="link">{{& committee_name}}</a></td>
        <td>{{{ mddyy coverage_from_date }}} - {{{ mddyy coverage_to_date }}}</td>
        <td><a href="{{ skeda_url}}" class="link">${{{ addcommas tot_raised }}}</a></td>
        <td><a href="{{ spending_url}}" class="link">${{{ addcommas tot_spent }}}</a></td>
        <td>${{{ addcommas coh_end }}}</td>
        <td>${{{ addcommas new_loans }}}</td>
        <td>{{ process_time_formatted }}</td>
    </tr>

</script>
{% endverbatim %}

<script type="text/javascript" src="{% static 'realtimefec/js/chosen.jquery.min.js' %}"></script>


<script type="text/javascript">
// The api doesn't tell us the pagenumber
pagenumber = 1;
// set this dynamically
pagination_size = {{ PAGINATE_BY }};

function is_valid_number(a) {
  return a.length > 0 && !isNaN(a);
}

function clean_dollar_fields(str) {
  str = str.replace(/ /g,"");
  str = str.replace("$","");
  str = str.replace(/,/g,"");
  return str;
}

function validate_fields() {

  // Clean up dollar fields if we can; if they seem not-numeric, set them to empty.
  $(".dollar_field").each(function( index ) {
      this_amount = clean_dollar_fields($(this).val());
      if (is_valid_number(this_amount) ) {
        $(this).val(this_amount);
      } else {
        $(this).val("");
      }
  });


}

function get_json_url() {
  query_string = "?ordering=" + $("#ordering").val();

  //min_spent = $("#min_spent").val();
  //if (min_spent.length > 0) {
  //  query_string += "&min_spent=" + min_spent
  //}

  var min_raised = $("#min_raised").val();
  if (min_raised.length > 0) {
    query_string += "&min_raised=" + min_raised
  }

  var min_coh = $("#min_coh").val();
  if (min_coh.length > 0) {
    query_string += "&min_coh=" + min_coh
  }

  var committee_class =  $("#committee_class").val();
  if (committee_class.length>0) {
    query_string += "&committee_class=" + committee_class;
  }
  
  var year_covered =  $("#year_covered").val();
  if (year_covered.length>0) {
    query_string += "&year_covered=" + year_covered;
  }

  var time_range = $('#time_range').val();
  if (time_range.length>0) {
    query_string += "&time_range=" + time_range;
  }
  
  var is_superceded = $('#is_superceded').val();
  if (is_superceded.length>0) {
    query_string += "&is_superceded=" + is_superceded;
  }
  
  var report_type = $('#report_type').val();
  if (report_type.length>0) {
    query_string += "&report_type=" + report_type;
  }
  
  var search_term = $('#search_term').val();
  if (search_term.length>4) {
    query_string += "&search_term=" + search_term;
  } else {
    $('#search_term').val("");
  }
  
  var candidate_id = $('#candidate_id').val();
  if (candidate_id.length>0) {
    query_string += "&candidate_id=" + candidate_id;
  }

  var period_type = $('#period_type').val();
  if (period_type.length>0) {
    query_string += "&period_type=" + period_type;
  }

  window.location.hash = query_string;

  url = "/api/new_filing/" + query_string
  //console.log("url is: " + url);
  return url;


}

function reset_all_fields() {
  $(".date_field,  .dollar_field, .dropdown_field, .dropdown_super_narrow, .dropdown_field_narrow").each(function( index ) {
    $(this).val("");
  });
  // default is filing order
  $("#ordering").val('-filing_number');
  $("#time_range").val('cycle');
}

function search_all() {
  reset_all_fields();
  $("#time_range").val('day');
  button_load();

}

function search_ies() {
  reset_all_fields();
  $("#report_type").val('ies');
  button_load();

}

function search_committees() {
  reset_all_fields();
  $("#committee_class").val('HSP');
  button_load();
}

function search_party() {
  reset_all_fields();
  $("#committee_class").val('XYZ');
  button_load();
}

function search_f2s() {
  reset_all_fields();
  $("#report_type").val('F2');
  button_load();
}

function search_superpacs() {
  reset_all_fields();
  $("#committee_class").val('UOVW');
  button_load();
}
// Some template functions. Should eventually live somewhere else.

function roundwCommas(nStr) {
    nStr = Math.round(nStr);
    nStr += '';
    x1 = nStr;
    //x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1;
}

/* This date stuff is fucking terrible. There's gotta be a better approach */
function getDate(datestring) {
  // Why is this so annoying?
  date_components = datestring.split('-');
  // Months are zero-indexed, but day numbers aren't. Nice work, guys.
  return_date = new Date(date_components[0], Math.round(date_components[1])-1, date_components[2]);
  return return_date;
}

function format_mddyy(datestring) {
  thisdate = getDate(datestring);
  // Months are zero-indexed, but day numbers aren't. Again, nice work.
  month = Math.round(thisdate.getMonth()) + 1;
  year = String(thisdate.getFullYear()).substring(2,4);
  return_string =  month + "/" +   thisdate.getDate() + "/" +  year;
  return return_string;
}

function remove_tablesorter() {
  // apparently the best way to remove tablesorter altogether
  // see http://stackoverflow.com/questions/8171530/remove-jquery-tablesorter-from-table/8177869#8177869
  // if we don't remove and add it back the sort stops working in an odd, quiet way. (on FF, for instance, the first sort of a column works, but subsequent ones don't)

  //console.log("trying to remove tablesorter");

  $('.sortable')
   .unbind('appendCache applyWidgetId applyWidgets sorton update updateCell')
   .removeClass('tablesorter')
   .find('thead th')
   .unbind('click mousedown')
   .removeClass('header headerSortDown headerSortUp');
}

function button_load() {
  validate_fields();
  jsonurl = get_json_url();
  pagenumber = 1;
  loadjson(jsonurl);
}

function load_next(jsonurl) {
  pagenumber++;
  loadjson(jsonurl);
}

function load_previous(jsonurl) {
  pagenumber--;
  loadjson(jsonurl);
}

function loadjson(jsonurl) {
  //console.log("loading json");
  //jsonurl = "/api/new_filing/";
  $.getJSON(jsonurl, function(data_loaded) {

               var source   = $("#row-template").html();
               var template = Handlebars.compile(source);

               results = data_loaded.results;
               numresults = results.length;
               first_result = 100*(pagenumber-1)+1;
               last_result = 100*(pagenumber-1) + numresults;

               result_string = "Total of " + roundwCommas(data_loaded.count) + " results found. Showing " + first_result + "-" + last_result + ".";
               $( "#display_info" ).html(result_string);

               next =  data_loaded.next;
               previous = data_loaded.previous;

              

               if (next != null) {
                 $( ".load_next" ).html( "<a href=\"javascript:load_next('" + next + "');\">next page<\/a>");
               } else {
                 $( ".load_next" ).html("");
               }


               if (previous != null) {
                 $( ".load_previous" ).html( "<a href=\"javascript:load_previous('" + previous + "');\">previous page<\/a>");
               } else {
                 $( ".load_previous" ).html("");
               }


               //console.log("count is: " + data_loaded.count + " num results: " + numresults);
               first_result = 100*(pagenumber-1)+1;
               last_result = 100*(pagenumber-1) + numresults;


               resultrows = []
               for (var i=0;i<results.length;i++) {
                  var context = results[i];
                  if (i%2==0) {
                    context['class']='even';
                  } else {
                    context['class']='odd';
                  }
                  var html    = template(context);
                  resultrows.push(html);
               };
               $( "#maintablebody" ).html( resultrows.join(""));
               // rerun tablesorter
               remove_tablesorter();

               // This doesn't work sometimes, and also isn't needed in others. wtf?
               // addCommaParser()
               $(".sortable").tablesorter({ widgets: ['zebra']});
               
               if (data_loaded.count <  2000) {
                  var page_re = /&*page=\d+/i;
                  var format_re = /&*format=json/i;
                  var csvurl = jsonurl.replace(page_re, '').replace(format_re, '') + "&format=csv";
                  //console.log("csv url is: " + csvurl);
                  csv_string = ' Download a <a href="' + csvurl + '">csv file of all ' + roundwCommas(data_loaded.count)  + ' results</a>.';
                  $( "#csv_info" ).html(csv_string);
                  
               } else {
                 $( "#csv_info" ).html("");
               }
               
            });

}

/* prob not needed.

function addCommaParser() {
  $.tablesorter.addParser({
    id: 'nocomma',
    is: function(s) {
      // return false so this parser is not auto detected
      return false;
    },
    format: function(s) {
      return s.replace(/,/,'');
    },
    type: 'numeric'
  });
}
*/
function addMustacheHelpers() {

  Handlebars.registerHelper('addcommas', function(object) {
    return new Handlebars.SafeString(
      roundwCommas(object)
    );
  });

  Handlebars.registerHelper('mddyy', function(object) {
    if (object != null) {
      return new Handlebars.SafeString(
        format_mddyy(object)
      );
    } else {
      return new Handlebars.SafeString("");
    }
  });

}

$(document).ready(function() {
  
      
    $('.chosen-select'  ).chosen({disable_search_threshold: 10});
    
    addMustacheHelpers();

    $( "#load_button" )
    .bind( "click", function() {
      button_load();
    });

    $("#search_term, #min_coh, #min_raised").keydown(function(event){
      if(event.keyCode == 13){
        button_load();
      }
    });
    
   reset_all_fields();

   windowhash = window.location.hash;
   var hashdict = {};

   $.each(windowhash.substr(2).split('&'), function(i, elem) {
      var parts = elem.split('=');
      //console.log("hashdict parts0 " + parts[0] + " parts 1: " + parts[1]);
      $("#" + parts[0]).val(parts[1]);
   });

   button_load();

});


</script>
  {% endblock %}

