{# list of current legislators, either house or senate or something #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sitejs %}
<script type="text/javascript" src="{% static 'realtimefec/js/handlebars.js' %}"></script>
{# <script type="text/javascript" src="{% static 'realtimefec/js/jquery-ui-1.10.3.custom.min.js' %}"></script> #}

{% endblock %}

{% block sitecss %}
{{ block.super }}
{# <link rel="stylesheet" href="{% static 'realtimefec/css/jquery-ui-1.10.3.custom.min.css' %}" /> #}
<link rel="stylesheet" href="{% static 'realtimefec/css/chosen.min.css' %}" />


{% endblock sitecss %}


{% block body_class %}{% endblock %}

{% block pagetitle %}Newest Independent Expenditures {% endblock %}

{% block rtmain %}

<div class="module">

    <div id="formdiv" class="clearfix">

        <div class="form-row clearfix ">
            <div class="form_spacer">
                <label>State:</label>
                <select data-placeholder="Pick a state..." name="state" class="chosen-select" tabindex="2" id="candidate_state_checked" style="width:120px;">
                </select>
            </div>

            <div class="form_spacer">
                <label>Race:</label>
                <select data-placeholder="Pick a race..." name="race" class="chosen-select" tabindex="2" id="district_checked" style="width:250px;">
                </select>
            </div>

            <div class="form_spacer">
                <label>Candidate:</label>
                <select data-placeholder="Pick a candidate..." name="candidate" class="chosen-select"  id="candidate_id_checked" style="width:250px;">
                </select>
            </div>
            
            
        </div>




        <div class="form-row clearfix form-break">
            <div class="form_spacer">
                <label>Minimum amount:</label>
                <input type="text" class="dollar_field" id="min_spent" name="min_spent"></input>
            </div>
            
            <div class="form_spacer">
                <label>Outside group:</label>
                <select name="outside_spender" data-placeholder="Pick a committee..." class="chosen-select" tabindex="2" id="filer_committee_id_number" style="width:200px;">
                  <option value="0">Show All</option>
                  {% for committee in outside_spenders %}<option value="{{ committee.fec_id|upper}}">{{committee.name}}</option> {% endfor %}
                </select>
            </div>
            
            <div class="form_spacer">
                <label>Support/Oppose:</label>
                <select name="support_oppose" data-placeholder="Pick a committee..." class="chosen-select" id="support_oppose_checked" style="width:100px;">
                  <option value="0">Show All</option>
                  <option value="S">Support Only</option>
                  <option value="O">Oppose Only</option>
                </select>
            </div>


        </div>

        <div class="form-row clearfix form-break">
            <div class="form_spacer">
                <label>Order by:</label>
                <select class="chosen-select" tabindex="2" name="order_field" id="ordering">
                    <option value='-expenditure_date_formatted'>newest-to-oldest</option>
                    <option value='-expenditure_amount'>expenditure size</option>
                </select>
            </div>

            <input type="button" value="Filter Filings" id="load_button" />
        </div>
    </div>

    <span id="display_info"></span><span id="csv_info" class="tip"></span>
    <div class="pagination_container">
        <div class="load_next" style="float: right; width: 200px;"></div>
        <div class="load_previous" style="float: left; width: 200px; z-index:100;"></div>
    </div>

    <table id="mainPageTable">
        <thead>
              <tr id="titles">
                  <th>Committee</th>
                  <th>Support<br>Oppose</th>
                  <th>Candidate</th>
                  <th>District</th>
                  <th>Payee</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Purpose</th>
                </tr>
          </thead>
          <tbody id="maintablebody">
          </tbody>
    </table>

    <div class"clearfix">
        <div class="load_next" style="float: right; width: 200px;"></div>
        <div class="load_previous" style="float: left; width: 200px;"></div>
    </div>

</div>
{% verbatim %}
<script id="row-template" type="text/x-handlebars-template" >
   <tr class="{{ class }}">
        <td><a href="{{ committee_url }}">{{& committee_name }}</a></th>
        <td>{{{ support_oppose_div support_oppose_checked }}}</td>
        <td><a href="{{ candidate_url }}">{{ candidate_name }}</a></td>
        <td><a href="{{ race_url }}">{{ short_office }}</a></td>
        <td>{{ payee_name_simplified }} - {{ payee_city}}, {{ payee_state}} {{ contributor_zip}} </td>
        <td>${{{ addcommas expenditure_amount }}}</td>
        <td>{{ expenditure_date_formatted }}</td>
        <td>{{ expenditure_purpose_descrip}}</td>
        
    </tr>

</script>
{% endverbatim %}

<script type="text/javascript" src="{% static 'realtimefec/js/chosen.jquery.min.js' %}"></script>

<script type="text/javascript">

var states = [
  {'name':'Show All', 'value':'0'},
  {% for state in STATE_LIST %}{ 'value':'{{ state.abbrev}}', 'name':'{{state.name}}'}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
]    

var races = [ 
  {'name':'Show All', 'value':'0', 'state':'ALL'},
  {% for district in districts %}{ 'value':'{{ district.pk }}', 'name':'{{ district.race_name}}', 'state':'{{ district.state }}'}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
];

candidates = [
  {'name':'Show All', 'value':'0', 'state':'ALL'},
  {% for candidate in candidates %}{ 'value':'{{ candidate.fec_id }}', 'name':'{{ candidate.name }} {{candidate.display_party }}', 'state':'{{ candidate.state }}', 'raceid':'{{candidate.district.pk}}'}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}  
];


// The api doesn't tell us the pagenumber
pagenumber = 1;
// set this dynamically
pagination_size = {{ PAGINATE_BY }};


function make_states() {
  state_element = '';
  for (var i = 0; i < states.length; i++) {
          state_element += '<option value="' + states[i].value + '">' + states[i].name + '</option>';
      }

  $("#candidate_state_checked").html(state_element);
  $("#candidate_state_checked").trigger("chosen:updated");
}

function reset_races(stateid) {
  race_element = '';
  for (var i = 0; i < races.length; i++) {
      if ( stateid==0 || races[i].state==stateid || races[i].state == 'ALL') {
          race_element += '<option value="' + races[i].value + '">' + races[i].name + '</option>';
        }
      }

  $("#district_checked").html(race_element);
  $("#district_checked").trigger("chosen:updated");
}

function reset_candidates(stateid, raceid) {
  candidate_element = '';
  for (var i = 0; i < candidates.length; i++) {
      if ( stateid==0 || candidates[i].state==stateid || candidates[i].state == 'ALL') {
        if ( raceid==0 || candidates[i].raceid == raceid || candidates[i].state == 'ALL') {
          candidate_element += '<option value="' + candidates[i].value + '">' + candidates[i].name + '</option>';
        }
      }  
  }
  $("#candidate_id_checked").html(candidate_element);
  $("#candidate_id_checked").trigger("chosen:updated");
}

function is_valid_number(a) {
  return a.length > 0 && !isNaN(a);
}

function clean_dollar_fields(str) {
  str = str.replace(/ /g,"");
  str = str.replace("$","");
  str = str.replace(/,/g,"");
  return str;
}

function validate_fields() {

  // Clean up dollar fields if we can; if they seem not-numeric, set them to empty.
  $(".dollar_field").each(function( index ) {
      this_amount = clean_dollar_fields($(this).val());
      if (is_valid_number(this_amount) ) {
        $(this).val(this_amount);
      } else {
        $(this).val("");
      }
  });


}

function get_json_url() {
  query_string = "?ordering=" + $("#ordering").val();

  var min_spent = $("#min_spent").val();
  if (min_spent.length > 0) {
    query_string += "&min_spent=" + min_spent
  }
  
  var state_select = $("#candidate_state_checked").val();
  if (state_select.length > 0) {
    if (state_select != '0') {
      query_string += "&candidate_state_checked=" + state_select
    }
  }
  
  var race_select = $("#district_checked").val();
  if (race_select.length > 0) {
    if (race_select != '0') {
      query_string += "&district_checked=" + race_select
    }
  }
  
  var candidate_select = $("#candidate_id_checked").val();
  if (candidate_select.length > 0) {
    if (candidate_select != '0') {
      query_string += "&candidate_id_checked=" + candidate_select
    }
  } 

  var support_select = $("#support_oppose_checked").val();
  if (support_select.length > 0) {
    if (support_select != '0') {
      query_string += "&support_oppose_checked=" + support_select
    }
  }



  var committee_select = $("#filer_committee_id_number").val();
  if (committee_select.length > 0) {
    if (committee_select != '0') {
      query_string += "&filer_committee_id_number=" + committee_select
    }
  }


  window.location.hash = query_string;

  url = "/api/independent-expenditures/" + query_string
  //console.log("url is: " + url);
  return url;


}

function reset_all_fields() {
  $(".dollar_field").each(function( index ) {
    $(this).val("");
  });
  $(".chosen_select").each(function( index ) {
    $(this).val("0");
  });  

  // default is filing order
  $("#ordering").val('-expenditure_date_formatted');
}


function roundwCommas(nStr) {
    nStr = Math.round(nStr);
    nStr += '';
    x1 = nStr;
    //x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1;
}

/* This date stuff is fucking terrible. There's gotta be a better approach */
function getDate(datestring) {
  // Why is this so annoying?
  date_components = datestring.split('-');
  // Months are zero-indexed, but day numbers aren't. Nice work, guys.
  return_date = new Date(date_components[0], Math.round(date_components[1])-1, date_components[2]);
  return return_date;
}

function format_mddyy(datestring) {
  thisdate = getDate(datestring);
  // Months are zero-indexed, but day numbers aren't. Again, nice work.
  month = Math.round(thisdate.getMonth()) + 1;
  year = String(thisdate.getFullYear()).substring(2,4);
  return_string =  month + "/" +   thisdate.getDate() + "/" +  year;
  return return_string;
}

function remove_tablesorter() {
  // apparently the best way to remove tablesorter altogether
  // see http://stackoverflow.com/questions/8171530/remove-jquery-tablesorter-from-table/8177869#8177869
  // if we don't remove and add it back the sort stops working in an odd, quiet way. (on FF, for instance, the first sort of a column works, but subsequent ones don't)

  //console.log("trying to remove tablesorter");

  $('.sortable')
   .unbind('appendCache applyWidgetId applyWidgets sorton update updateCell')
   .removeClass('tablesorter')
   .find('thead th')
   .unbind('click mousedown')
   .removeClass('header headerSortDown headerSortUp');
}

function button_load() {
  validate_fields();
  jsonurl = get_json_url();
  pagenumber = 1;
  loadjson(jsonurl);
}

function load_next(jsonurl) {
  pagenumber++;
  loadjson(jsonurl);
}

function load_previous(jsonurl) {
  pagenumber--;
  loadjson(jsonurl);
}

function loadjson(jsonurl) {
  //console.log("loading json: " + jsonurl);
  //jsonurl = "/api/new_filing/";
  $.getJSON(jsonurl, function(data_loaded) {

               var source   = $("#row-template").html();
               var template = Handlebars.compile(source);

               results = data_loaded.results;
               numresults = results.length;
               first_result = 100*(pagenumber-1)+1;
               last_result = 100*(pagenumber-1) + numresults;

               result_string = "Total of " + roundwCommas(data_loaded.count) + " results found. Showing " + first_result + "-" + last_result + ".";
               $( "#display_info" ).html(result_string);

               next =  data_loaded.next;
               previous = data_loaded.previous;

               $( "#result_description" ).html("<b>This is a text description of the results shown below</b>")


               if (next != null) {
                 $( ".load_next" ).html( "<a href=\"javascript:load_next('" + next + "');\">next page<\/a>");
               } else {
                 $( ".load_next" ).html("");
               }


               if (previous != null) {
                 $( ".load_previous" ).html( "<a href=\"javascript:load_previous('" + previous + "');\">previous page<\/a>");
               } else {
                 $( ".load_previous" ).html("");
               }


               //console.log("count is: " + data_loaded.count + " num results: " + numresults);
               first_result = 100*(pagenumber-1)+1;
               last_result = 100*(pagenumber-1) + numresults;


               resultrows = []
               for (var i=0;i<results.length;i++) {
                  var context = results[i];
                  if (i%2==0) {
                    context['class']='even';
                  } else {
                    context['class']='odd';
                  }
                  var html    = template(context);
                  resultrows.push(html);
               };
               $( "#maintablebody" ).html( resultrows.join(""));
               
               
               
               if (data_loaded.count <  2000) {
                   var page_re = /&*page=\d+/i;
                   var format_re = /&*format=json/i;
                   var csvurl = jsonurl.replace(page_re, '').replace(format_re, '') + "&format=csv";
                   //console.log("csv url is: " + csvurl);
                   csv_string = ' Download a <a href="' + csvurl + '">csv file of all '+ roundwCommas(data_loaded.count) +' results</a>.';
                   $( "#csv_info" ).html(csv_string);

                } else {
                  $( "#csv_info" ).html("");
                }

            });

}

/* prob not needed.

function addCommaParser() {
  $.tablesorter.addParser({
    id: 'nocomma',
    is: function(s) {
      // return false so this parser is not auto detected
      return false;
    },
    format: function(s) {
      return s.replace(/,/,'');
    },
    type: 'numeric'
  });
}
*/
function addMustacheHelpers() {

  Handlebars.registerHelper('addcommas', function(object) {
    return new Handlebars.SafeString(
      roundwCommas(object)
    );
  });

  Handlebars.registerHelper('support_oppose_div', function(object) {
    var return_string = "";
    if (object=='S') {
      return_string = '<div class="label-support">Support</div>';
    } else if (object=='O') {
      return_string = '<div class="label-oppose">Oppose</div>';
    }
    
    return new Handlebars.SafeString(return_string);
  });

  Handlebars.registerHelper('mddyy', function(object) {
    if (object != null) {
      return new Handlebars.SafeString(
        format_mddyy(object)
      );
    } else {
      return new Handlebars.SafeString("");
    }
  });

}

$(document).ready(function() {
  
   $('.chosen-select'  ).chosen({disable_search_threshold: 10});
    
    
    // Add the initial options
    reset_candidates(0,0);
    reset_races(0);
    make_states();
    
    
    $("#district_checked").chosen().change( function() {
      //console.log('race_chosen: ' + $("#district_checked").val());
      reset_candidates($("#candidate_state_checked").val(), $("#district_checked").val());
    });
  
    $("#candidate_state_checked").chosen().change( function() {
      //console.log('state_chosen: ' + $("#candidate_state_checked").val());
      reset_candidates($("#candidate_state_checked").val(), 0);
      reset_races($("#candidate_state_checked").val());
    });
    
    
    
    addMustacheHelpers();

    $( "#load_button" )
    .bind( "click", function() {
      button_load();
    });
    
    $("#min_spent").keydown(function(event){
      if(event.keyCode == 13){
        button_load();
      }
    });
min_spent


   reset_all_fields();

   windowhash = window.location.hash;
   var hashdict = {};

   $.each(windowhash.substr(2).split('&'), function(i, elem) {
      var parts = elem.split('=');
      //console.log("hashdict parts0 " + parts[0] + " parts 1: " + parts[1]);
      $("#" + parts[0]).val(parts[1]);
      
      
   });


   $("#candidate_state_checked").trigger("chosen:updated");
   $("#district_checked").trigger("chosen:updated");
   $("#candidate_id_checked").trigger("chosen:updated");
   $("#support_oppose_checked").trigger("chosen:updated");
   $("#filer_committee_id_number").trigger("chosen:updated");
   $("#ordering").trigger("chosen:updated");
  
   //console.log("hashdict is " + hashdict);

   button_load();

});


</script>
  {% endblock %}

