{# list of filings #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}


{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" /> 

{{ block.super }}
{% endblock sitecss %}



{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title|striptags }} {% endblock %}

 {% block rtmain %}

<div class="module">
  <b>Downloadable file: </b><a class="link" href="javascript:download_filing_data('{{ filing_data.filing_number }}','A');">All schedule A receipts itemized on this filing</a><br>
  <b>Alerts: </b><a class="link" href="javascript:submit_gotoscout('{{ filing.fec_id }}');">Get automatic alerts</a> when this committee files new campaign finance reports
  <div class="numeric_summary">
    <span class="amount_description">{% if filing_data.coverage_from_date %}Covers {{ filing_data.coverage_from_date|date:"N j, Y"}} through {{ filing_data.coverage_to_date|date:"N j, Y" }}{% endif %}</span>
    <br><span class="amount_description">Total receipts: </span> <span class="amount_dollars"><a class="link" href="{{ filing_data.get_skeda_url }}">${{ filing_data.tot_raised|intcomma }}</a></span>
    <br><span class="amount_description">Total spending:</span> <span class="amount_dollars"><a class="link" href="{{filing_data.get_spending_url}}">${{ filing_data.tot_spent|intcomma }}</a></span>
    {% if filing_data.get_cash_on_hand %}<br><span class="amount_description">Ending cash:</span> <span class="amount_dollars">${{ filing_data.get_cash_on_hand|intcomma }}</a></span>{% endif %} 
    {% if filing_data.get_total_debts %}<br><span class="amount_description">Outstanding debts:</span> <span class="amount_dollars">${{ filing_data.get_total_debts|intcomma }}</a></span>{% endif %}
    <br><span class="amount_description">Originally filed {{ filing_data.process_time}}</span>
  </div>
  
  
<p>
  {% if filing_data.is_amendment %}<b>This filing is an amendment!</b>{% if filing_data.amends_filing %} See an earlier version here <a href="{{ filing_data.original_filing_url }}sa">Filing #{{ filing_data.amends_filing }}</a>.{% endif %}<br>{% endif %}
  {% if filing_data.is_superceded %}<b>This filing has been amended by another filing!</b> See a newer version here: <a href="/filings/{{ filing_data.amended_by }}/SA/">Filing #{{ filing_data.amended_by }}</a>.<br>{% endif %}
  
  
Type: {{ filing_data.form_type }}: {{ filing_data.get_form_name }}.

{% if filing_data.has_sked_e %}<br>This filing also includes <a href="{{ filing_data.get_skede_url }}">{{  filing_data.lines_present.E|intcomma }} itemized independent expenditures</a>.{% endif %}

{% if too_many_to_display %}
<br>There are more than 1,000 contributors itemized on this report; you can <a class="link" href="javascript:download_filing_data('{{ filing_data.filing_number }}','A');">download a file of them</a> or see the <a href="{{ filing_data.FEC_url }}">full report</a> at the Federal Election Commission.
{% else %}
<br>Read the <a href="{{ filing_data.FEC_url }}">full report</a> at the Federal Election Commission.{% endif %}</p>
{% if object_list %}
<div class="overviewBar withNav withTip">
    <h4>Receipts</h4>
</div>

<table id="mainPageTable" class="sortable">
            <thead>
              <tr>
                <th>Line Type</th>
                <th class="sort">Donor</th>
                <th>City, State, ZIP</th>
                <th class="sort">Amount</th>
                <th class="sort">Date</th>
                <th class="sort">Employer</th>
                <th class="sort" >Occupation</th>
                <th>Memo</th>
              </tr>
              </thead>
              <tbody>
                  {% for object in object_list %}    
                      <tr class="{% cycle 'odd' 'even' %}" id="{{ object.transaction_id }}">
                          <td><a href="#{{ object.transaction_id }}">{{ object.form_type }}</a></td>
                          <td>{{ object.donor_name }}</td>
                          <td>{{ object.contributor_city}}, {{ object.contributor_state}} {{ object.contributor_zip}} </td>
                          <td>${{ object.contribution_amount|intcomma}}</td>
                          <td>{{ object.contribution_date_formatted|date:"Y-m-d"}}</td>
                          <td>{% if object.contributor_employer %}{{ object.contributor_employer}}{% endif %}</td>
                          <td>{% if object.contributor_occupation %}{{ object.contributor_occupation}}{% endif %}</td>
                          <td>{% if object.memo_text_description %}{{ object.memo_text_description}}{% endif %}</td>
                      </tr>
                  {% endfor %}
                  
</tbody>
</table>
{% endif %}
</div>
{% endblock %}

{% block sitejs %}
{{ block.super }}
{% include "includes/file_download.js" %}
{% include "includes/go_to_scout.js" %}
{% endblock %}

