{# list of filings #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}


{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" /> 

{{ block.super }}
{% endblock sitecss %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title|striptags }} {% endblock %}

 {% block rtmain %}

<div class="module">
  <b>Alerts: </b><a class="link" href="javascript:submit_gotoscout('{{ filing.fec_id }}');">Get automatic alerts</a> when this committee files new campaign finance reports
    <div class="numeric_summary">
      <span class="amount_description">{% if filing.coverage_from_date %}Covers {{ filing.coverage_from_date|date:"N j, Y"}} through {{ filing.coverage_to_date|date:"N j, Y" }}{% endif %}</span>
      <br><span class="amount_description">Total receipts: </span> <span class="amount_dollars"><a class="link" href="{{ filing.get_skeda_url }}">${{ filing.tot_raised|intcomma }}</a></span>
      <br><span class="amount_description">Total spending:</span> <span class="amount_dollars"><a class="link" href="{{filing.get_spending_url}}">${{ filing.tot_spent|intcomma }}</a></span>      
      <br><span class="amount_description">Originally filed {{ filing.process_time}}</span>
    </div>
      
Type: {{ filing.form_type }}: {{ filing.get_form_name }}. See the <a href="{{ filing.FEC_url }}">original electronic report</a>.

{% if committee %}
{% if committee.curated_candidate %}<br>Supports <a href="{{committee.curated_candidate.get_absolute_url}}">{{committee.curated_candidate.name }} ({{committee.curated_candidate.party}})</a> {% if committee.curated_candidate.is_incumbent %}Incumbent {% else %}Candidate for {% endif %}{{ committee.curated_candidate.detailed_office}}{% endif %}
{% endif %}




<div class="overviewBar withNav withTip" id="itemized_data">
    <h4>Itemized Filing Data</h4>
</div>
<span class="amount_description">
{% if filing.has_sked_a %}{{  filing.lines_present.A|intcomma }} Itemized contribution{{ filing.lines_present.A|pluralize }}. <a class="link" href="{{ filing.get_skeda_url }}"> See contributions</a>&nbsp;|&nbsp;<a class="link" href="javascript:download_filing_data('{{ filing.filing_number }}','A');">Download file</a>{% endif %}

{% if filing.has_sked_b %}<br>{{  filing.lines_present.B|intcomma }} Itemized disbursement{{ filing.lines_present.B|pluralize }}. <a class="link" href="{{ filing.get_skedb_url }}"> See disbursements</a>&nbsp;|&nbsp;<a class="link" href="javascript:download_filing_data('{{ filing.filing_number }}','B');">Download file</a>{% endif %}

{% if filing.has_sked_e %}<br>{{  filing.lines_present.E|intcomma }} Independent Expenditure{{ filing.lines_present.E|pluralize }}. <a class="link" href="{{ filing.get_skede_url }}"> See expenditures</a>&nbsp;|&nbsp;<a class="link" href="javascript:download_filing_data('{{ filing.filing_number }}','E');">Download file</a>{% endif %}

</span>



</div>

{% endblock %}
  
{% block sitejs %}
{{ block.super }}
{% include "includes/file_download.js" %}
{% include "includes/go_to_scout.js" %}

{% endblock %}

