{# list of filings #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}



{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title|striptags }} {% endblock %}

 {% block rtmain %}

<div class="module">

Type: {{ filing_data.form_type }}: {{ filing_data.get_form_name }}.<br>

{% if filing_data.coverage_from_date %}<br>Covering {{ filing_data.coverage_from_date|date:"N j, Y"}} through {{ filing_data.coverage_to_date|date:"N j, Y" }}. {% endif %}Originally filed {{ filing_data.process_time}}.

<br>Total receipts of ${{ filing_data.tot_raised|intcomma }} include  {% if  filing_data.lines_present.A %}<a href="{{ filing_data.get_skeda_url }}">{{  filing_data.lines_present.A|intcomma }} itemized contributions</a>{% else %}0 itemized contributions{% endif %}.

<br> Total spending for this period amounted to ${{ filing_data.tot_spent|intcomma }} and include  {% if  filing_data.lines_present.B %}<a href="{{ filing_data.get_skedb_url }}">{{  filing_data.lines_present.B|intcomma }} itemized disbursements</a>{% else %}0 itemized disbursements{% endif %}.

{% if  filing_data.lines_present.E %}<br>This filing also includes <a href="{{ filing_data.get_skede_url }}">{{  filing_data.lines_present.E|intcomma }} itemized independent expenditures</a>.{% endif %}

{% if too_many_to_display %}
<p>There are more than 1,000 contributors itemized on this report; read the <a href="{{ filing_data.FEC_url }}">full report</a> at the Federal Election Commission.</p>
{% else %}
<p>Read the <a href="{{ filing_data.FEC_url }}">full report</a> at the Federal Election Commission.</p>
{% endif %}
{% if object_list %}
<div class="overviewBar withNav withTip">
    <h4>Contributions</h4>
</div>
<table id="mainPageTable" class="sortable">
            <thead>
              <tr>
                <th>Line</th>
                <th class="sort">Donor</th>
                <th>City, State, ZIP</th>
                <th class="sort">Amount</th>
                <th class="sort">Date</th>
                <th class="sort">Employer</th>
                <th class="sort" >Occupation</th>
                <th>Memo</th>
              </tr>
              </thead>
              <tbody>
                  {% for object in object_list %}    
                      <tr class="{% cycle 'odd' 'even' %}" id="{{ object.transaction_id }}">
                          <td><a href="#{{ object.transaction_id }}">{{ object.form_type }}</a></td>
                          <td>{{ object.donor_name }}</td>
                          <td>{{ object.contributor_city}}, {{ object.contributor_state}} {{ object.contributor_zip}} </td>
                          <td>${{ object.contribution_amount|intcomma}}</td>
                          <td>{{ object.contribution_date_formatted|date:"Y-m-d"}}</td>
                          <td>{% if object.contributor_employer %}{{ object.contributor_employer}}{% endif %}</td>
                          <td>{% if object.contributor_occupation %}{{ object.contributor_occupation}}{% endif %}</td>
                          <td>{% if object.memo_text_description %}{{ object.memo_text_description}}{% endif %}</td>
                      </tr>
                  {% endfor %}
                  
</tbody>
</table>
{% endif %}
</div>
  {% endblock %}
  

