{# list of filings #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}


{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" /> 

{{ block.super }}
{% endblock sitecss %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title|striptags }} {% endblock %}

 {% block rtmain %}

 <div class="module">
   <b>Downloadable file: </b><a class="link" href="javascript:download_filing_data('{{ filing_data.filing_number }}','E');">All independent expenditures itemized on this filing</a><br>
   <b>Alerts: </b><a class="link" href="javascript:submit_gotoscout('{{ filing.fec_id }}');">Get automatic alerts</a> when this committee files new campaign finance reports
   <div class="numeric_summary">
     <span class="amount_description">{% if filing_data.coverage_from_date %}Covers {{ filing_data.coverage_from_date|date:"N j, Y"}} through {{ filing_data.coverage_to_date|date:"N j, Y" }}{% endif %}</span>
     <br><span class="amount_description">Total receipts: </span> <span class="amount_dollars"><a class="link" href="{{ filing_data.get_skeda_url }}">${{ filing_data.tot_raised|intcomma }}</a></span>
     <br><span class="amount_description">Total spending:</span> <span class="amount_dollars"><a class="link" href="{{filing_data.get_spending_url}}">${{ filing_data.tot_spent|intcomma }}</a></span>      
     <br><span class="amount_description">Originally filed {{ filing_data.process_time}}</span>
   </div>


 <p>
   {% if filing_data.is_amendment %}<b>This filing is an amendment!</b>{% if filing_data.amends_filing %} See an earlier version here <a href="{{ filing_data.original_filing_url }}se">Filing #{{ filing_data.amends_filing }}</a>.{% endif %}<br>{% endif %}
   {% if filing_data.is_superceded %}<b>This filing has been amended by another filing!</b> See a newer version of here <a href="/filings/{{ filing_data.amended_by }}/SE/">Filing #{{ filing_data.amended_by }}</a>.<br>{% endif %}
 Type: {{ filing_data.form_type }}: {{ filing_data.get_form_name }}.


 {% if too_many_to_display %}
 <br>There are more than 1,000 independent expenditures itemized on this report; you can <a class="link" href="javascript:download_filing_data('{{ filing_data.filing_number }}','E');">download a file of them</a> or see the <a href="{{ filing_data.FEC_url }}">full report</a> at the Federal Election Commission.
 {% else %}
 <br>Read the <a href="{{ filing_data.FEC_url }}">full report</a> at the Federal Election Commission.{% endif %}</p>
{% if object_list %}
<div class="overviewBar withNav withTip">
    <h4>Independent Expenditures</h4>
</div>
<table id="mainPageTable" class="sortable">
            <thead>
              <tr>
                <th>Line Type</th>
                <th>Supports/Opposes</th>
                <th>Candidate</th>
                <th class="sort">Payee</th>
                <th>City, State, ZIP</th>
                <th class="sort">Amount</th>
                <th class="sort">Date</th>
                <th class="sort">Purpose</th>
                <th>Memo</th>
              </tr>
              </thead>
              <tbody>
                  {% for object in object_list %}    
                      <tr class="{% cycle 'odd' 'even' %}" id="{{ object.transaction_id }}">
                          <td><a href="#{{ object.transaction_id }}">{{ object.form_type }}</a></td>
                          <td> {{ object.support_oppose|safe }}</td>
                          <td>{% if object.candidate_checked %}<a href="{{ object.get_candidate_url }}">{{ object.candidate_name_checked }}</a>{% else %}{{ object.candidate_name_raw }}{% endif %}</td>
                          <td>{{ object.payee_name_simplified }}</td>
                          <td>{{ object.payee_city}}, {{ object.payee_state}} {{ object.contributor_zip}} </td>
                          <td>${{ object.expenditure_amount|intcomma}}</td>
                          <td>{{ object.expenditure_date_formatted|date:"Y-m-d"}}</td>
                          <td>{% if object.expenditure_purpose_descrip %}{{ object.expenditure_purpose_descrip}}{% endif %}</td>
                          <td>{% if object.memo_text_description %}{{ object.memo_text_description}}{% endif %}</td>
                      </tr>
                  {% endfor %}
                  
</tbody>
</table>
{% endif %}
</div>
  {% endblock %}

{% block sitejs %}
{{ block.super }}
{% include "includes/file_download.js" %}
{% include "includes/go_to_scout.js" %}
{% endblock %}
