{# list of filings #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}



{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

 {% block rtmain %}

<div class="module">
 <div id="contentHeader">
       <h2>{{ title }}</h2>
</div>
<p>{{ explanatory_text|safe }}</p>
<table id="mainPageTable" class="sortable">
            <thead>
              <tr>
                <th>Filing ID</th>
                <th>Committee - Form</th>
                <th>Coverage Date</th>
                <th class="sort" class="sorter-currency">Raised</th>
                <th class="sort" class="sorter-currency">Spent</th>
                <th class="sort" class="sorter-currency">Cash on hand</th>
                <th>Filing Time</th>
              </tr>
              </thead>
              <tbody>
                  {% for object in object_list %}    
                      <tr class="{% cycle 'odd' 'even' %}">
                          <td><a href="{{object.get_fec_url}}">{{ object.filing_number }} [{{ object.form_type}}]</a></td>
                          <td><a href="{{object.fec_all_filings}}">{{ object.committee_name}}: {{ object.get_form_name }}</td>
                          <td>{% if object.coverage_to_date %}{{ object.coverage_from_date|date:"n/j/y" }} - {{ object.coverage_to_date|date:"n/j/y" }}{% endif %}</td> 
                          <td>{% if object.tot_raised %}<a href="{{object.get_skeda_url}}">${{ object.tot_raised|intcomma }}</a>{% else %}$0{% endif %}</td>
                          <td>{% if object.tot_spent %}<a href="{{object.get_skedb_url}}">${{ object.tot_spent|intcomma }}</a>{% else %}$0{% endif %}</td>
                          <td>{% if object.coh_end %}${{ object.coh_end|intcomma }}{% else %}$0{% endif %}</td>
                          
                                                        
                          <td>{{ object.process_time|date:"N j, P"  }}</td>
                      </tr>
                  {% endfor %}
                  
</tbody>
</table>
</div>
  {% endblock %}
  

