{# list of filings #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}


{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/custom-theme/jquery-ui-1.10.3.custom.css' %}" /> 

{{ block.super }}
{% endblock sitecss %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title|striptags }} {% endblock %}

 {% block rtmain %}

<div class="module">
  
    <div class="numeric_summary">
      <span class="amount_description">{% if filing.coverage_from_date %}Covers {{ filing.coverage_from_date|date:"N j, Y"}} through {{ filing.coverage_to_date|date:"N j, Y" }}{% endif %}</span>
      <br><span class="amount_description">Total receipts: </span> <span class="amount_dollars"><a class="link" href="{{ filing.get_skeda_url }}">${{ filing.tot_raised|intcomma }}</a></span>
      <br><span class="amount_description">Total spending:</span> <span class="amount_dollars"><a class="link" href="{{filing.get_spending_url}}">${{ filing.tot_spent|intcomma }}</a></span>      
      <br><span class="amount_description">Originally filed {{ filing.process_time}}</span>
    </div>
      
Type: {{ filing.form_type }}: {{ filing.get_form_name }}. See the <a href="{{ filing.FEC_url }}">original electronic report</a>.

{% if committee %}
{% if committee.curated_candidate %}<br>Supports <a href="{{committee.curated_candidate.get_absolute_url}}">{{committee.curated_candidate.name }} ({{committee.curated_candidate.party}})</a> {% if committee.curated_candidate.is_incumbent %}Incumbent {% else %}Candidate for {% endif %}{{ committee.curated_candidate.detailed_office}}{% endif %}
{% endif %}




<div class="overviewBar withNav withTip">
    <h4>Itemized Filing Data</h4>
</div>
<span class="amount_description">
{% if filing.lines_present.A %}{{  filing.lines_present.A|intcomma }} Itemized contributions. <a class="link" href="{{ filing.get_skeda_url }}"> See contributions</a>&nbsp;|&nbsp;<a class="link" href="javascript:download_filing_data('{{ filing.filing_number }}','A');">Download file</a>{% endif %}

{% if filing.lines_present.B %}<br>{{  filing.lines_present.B|intcomma }} Itemized disbursements. <a class="link" href="{{ filing.get_skedb_url }}"> See disbursements</a>&nbsp;|&nbsp;<a class="link" href="javascript:download_filing_data('{{ filing.filing_number }}','B');">Download file</a>{% endif %}

{% if filing.has_sked_e %}<br>{{  filing.lines_present.E|intcomma }} Independent Expenditures. <a class="link" href="{{ filing.get_skede_url }}"> See expenditures</a>&nbsp;|&nbsp;<a class="link" href="javascript:download_filing_data('{{ filing.filing_number }}','E');">Download file</a>{% endif %}

</span>



</div>

<!-- start js inpage include -->
<!-- ui-dialog -->
<div id="dialog" title="Confirm Bulk File Download">
  <!-- crazy workaround: http://stackoverflow.com/a/10455573 -->
  <span class="ui-helper-hidden-accessible"><input type="text"/></span>
  <!-- end nutty workaround -->
  <div class="dialog-body"><span id="modal_body">
  You're about to download a .csv file of itemized Federal Election Commission data. Some files may be quite large. Are you sure you want to continue?</span>
  <span id="confirmation_buttons">
  <br><br><button id="confirm_button" class="textBtn">Yes, Continue</button>&nbsp;<button id="dismiss_button" class="textBtn">No, Quit</button></div>
  </span>
  <div id="download_div"></div>
</div>

<script src="{% static 'realtimefec/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript">


	
	$( "#confirm_button" ).button();
	$( "#dismiss_button" ).button();
	
	
	
	$( "#confirm_button" ).click(function( event ) {
		alert("download confirmed");
	});

	
	$( "#dismiss_button" ).click(function( event ) {
		$( "#dialog" ).dialog( "close" );
	});
	
	
	$( "#dialog" ).dialog({
		autoOpen: false,
		width: 600,
	});

	// Link to open the dialog
	$( "#dialog-link" ).click(function( event ) {
		$( "#dialog" ).dialog( "open" );
		event.preventDefault();
	});


  function set_modal_body(sked, source) {
    data_type = ""
    if (sked.toUpperCase()=='A') {
      data_type = "contributions itemized";
    } else if (sked.toUpperCase()=='B') {
      data_type = "disbursements itemized";
    } else if (sked.toUpperCase()=='E') {
      data_type = "independent expenditures itemized"
    }
    
    string = "You're about to download a .csv file of " + data_type + source + ". Some files may be quite large. Are you sure you want to continue?";
    
    $('#modal_body').html(string);
  }
  
  function load_iframe(url) {
    console.log("loading iframe");
    iframe_html = '<iframe width="500" scrolling="no" height="100" frameborder="0" src="' + url + '" seamless="seamless">';
    $('#download_div').html(iframe_html)
    $('#confirmation_buttons').hide();
    $('#modal_body').hide();    
  }
  
  function reset_window() {
    $('#confirmation_buttons').show();
    $('#download_div').html('');
    $('#modal_body').show();    
    
  }
  
  function download_filing_data(filing_number, sked) {
    $('#confirm_button').unbind('click');
    $('#confirm_button').on('click', function() {
      url = "/download/filing/" + filing_number + "/" + sked + "/";
      load_iframe(url);
    });
    reset_window();
    set_modal_body(sked, " on electronic filing " + filing_number);
    $( "#dialog" ).dialog( "open" );
    
  }
  
  function download_committee_data(committee_id, sked, committee_name) {
    $('#confirm_button').unbind('click');
    $('#confirm_button').on('click', function() {
      url = "/download/committee/" + committee_id + "/"+ sked + "/";
      load_iframe(url);
    });
    reset_window();
    set_modal_body(sked, " by " + committee_name );
    $( "#dialog" ).dialog( "open" );
  }


</script>
<!-- end js include -->

{% endblock %}
  

