{# list of current legislators, either house or senate or something #}
{% extends "test_templates/search_base.html" %}



{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }}{% endblock %}

 {% block main %}

<div class="module">
 <div id="contentHeader">
       <h2>{{ title }}</h2>
</div>
<p>{{ explanatory_text }}</p>
<span class="tip">This is the italicized advice we sometimes give.</span>
<table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">Legislator</th>
                      <th class="sort">Report Date</th>
                      <th class="sort">Cash on hand</th>
                      <th class="sort">Raised (quarter)</th>
                      <th class="sort">Spent (quarter)</th>
                      <th class="sort">New debts (quarter)</th>

                  </tr>
              </thead>
              <tbody>
                  
                  <tr class="even">
                      <td class="lawmakerName">
                          <a href="/politician/mitt-romney/d2d1b6f4ea644455b8845be3b4c8116c?cycle=2012">Mitt Romney</a>
                      </td>
                      <td>President</td>
                      <td>R</td>
                      <td></td>
                      <td></td>
                      <td>$356,911,898</td>
                  </tr>
                  
                  <tr class="odd">
                      <td class="lawmakerName">
                          <a href="/politician/barack-obama/4148b26f6f1c437cb50ea9ca4699417a?cycle=2012">Barack Obama</a>
                      </td>
                      <td>President</td>
                      <td>D</td>
                      <td></td>
                      <td></td>
                      <td>$315,000,730</td>
                  </tr>
</tbody>
</table>
</div>
  {% endblock %}
  

{# override get satisfaction #}  
  {% block gsfn %}{% endblock %}