{# race details #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

 {% block rtmain %}

<div class="module">

<p>Incumbent: {{race.incumbent_name}} ({{race.incumbent_party}})</p>
<div class="numeric_summary">
<span class="amount_description">Total candidate fundraising:</span>&nbsp;<span class="amount_dollars">{% if race.candidate_raised %}${{race.candidate_raised|intcomma}}{% else %}$0{% endif %}</span>

<br><span class="amount_description">Total candidate spending:</span>&nbsp;<span class="amount_dollars">{% if race.candidate_spending %}${{race.candidate_spending|intcomma}}{% else %}$0{% endif %}</span>  

<br><span class="amount_description">Total outside spending</span>&nbsp;<span class="amount_dollars">{% if race.outside_spending %}${{race.outside_spending|intcomma}}{% else %}$0{% endif %}</span>


<br><span class="amount_description">Candidate spending plus outside spending</span>&nbsp;<span class="amount_dollars">{% if race.total_spending %}${{race.total_spending|intcomma}}{% else %}$0{% endif %}</span>

</div>



<div class="overviewBar withNav withTip">
    <h4>Candidates</h4>
</div>

{% if candidates %}
<table id="mainPageTable" class="sortable">
      <thead>
        <tr id="titles">
            <th class="sort">Candidate</th>
            <th class="sort">Incumbent</th>
        
            <th class="sort">Candidate Fundraising</th>
            <th class="sort">Candidate Spending</th>
            <th class="sort">Outside Spending For</th>
            <th class="sort">Outside Spending Against</th>
            <th class="sort">Total Outside Spending</th>
        </tr>
      </thead>
      <tbody>
          {% for object in candidates %}    
          <tr class="{% cycle 'odd' 'even' %}">
              <td><a href="{{object.get_absolute_url}}">{{object.name}} ({{object.party}})</a>{% if object.not_seeking_reelection %}<a href="#notseekingreelection">*</a>{% endif %}</td>
              <td class="incumbency">{{object.incumbency_status }}</td>
              <td>${{ object.total_receipts|intcomma }}</td>
              <td>${{ object.total_disbursements|intcomma }}</td>
              <td>{% if object.expenditures_supporting %}${{ object.expenditures_supporting|intcomma }}{% else %}$0{% endif %}</td>
              <td>{% if object.expenditures_opposing %}${{ object.expenditures_opposing|intcomma }}{% else %}$0{% endif %}</td>
              <td>{% if object.total_expenditures %}${{ object.total_expenditures|intcomma }}{% else %}$0{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
</table>
{% endif %}
<p id="notseekingreelection">* Not seeking reelection to this office</p>

{% if outside_spenders %}
<div class="overviewBar withNav withTip">
    <h4>Independent Expenditure Summary</h4>
</div>
<p>Candidates supported or opposed by independent expenditures of $1,000 or more are listed below.</p>

<table class="sortable">
  <thead>
    <tr>
      <th class="sort">Committee</th>
      <th class="sort">Candidate</th>
      <th>Incumbent</th>
      <th> Office Sought </th>
      <th class="sort">Support / Oppose</th>
      <th class="sort">Total outside spending</th>
    </tr>
    </thead>
    <tbody>
      {% for object in outside_spenders %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{{object.committee.get_absolute_url}}">{{object.committee.name}}</a></td>
        <td><a href="{{object.candidate.get_absolute_url}}">{{object.candidate.name}} {{ object.candidate.display_party}}</a></td>
        <td>{{ object.candidate.incumbency_status }}</td>
        <td><a href="{{ object.candidate.district.get_absolute_url }}">{{ object.candidate.detailed_office }}</a></td>
        <td>{{object.support_or_oppose|safe}}</td>
        <td>${{object.total_ind_exp|intcomma}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}



</div>
{% endblock %}
