{# list districts #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

{% block timestamp %}set race update here{% endblock %}

{% block rtmain %}

<div class="module">

<table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">District</th>
                      <th class="sort">Incumbent</th>
                      <th class="sort">Open Seat?</th>
                      <th class="sort">Election Year</th>
                      <th class="sort">Candidate Fundraising</th>
                      <th class="sort">Candidate Spending</th>
                      <th class="sort">Outside Spending</th>
                      <th class="sort">Total Spending</th>
                  </tr>
              </thead>
              <tbody>
                {% for object in races %}
                  <tr class="{% cycle 'odd' 'even' %}">
                      <td><a href="{{ object.get_absolute_url }}">{{ object.district_formatted }}</a></td>
                      <td>{{object.incumbent_name}} ({{object.incumbent_party}})</td>
                      <td>{% if open_seat %}Y{% else %}N{% endif %}</td>
                      <td>{{ object.election_year }}</td>
                      <td>{% if object.candidate_raised %}${{ object.candidate_raised|intcomma }}{% else %}$0{% endif %}</td>
                      <td>{% if object.candidate_spending %}${{ object.candidate_spending|intcomma }}{% else %}$0{% endif %}</td>
                      <td>{% if object.outside_spending %}${{ object.outside_spending|intcomma }}{% else %}$0{% endif %}</td>
                      <td>{% if object.total_spending %}${{ object.total_spending|intcomma }}{% else %}$0{% endif %}</td>                  

                      </tr>
                {% endfor %}

</tbody>
</table>

</div>
{% endblock %}