{# list districts #}
{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sitecss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'realtimefec/css/chosen.min.css' %}" />
{% endblock sitecss %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

{% block rtmain %}

<div class="module">
  <p>
Show: <select name="filter_display" class="dropdown_field chosen-select" id="candidate_filter" tabindex="2" style="width:200px;">
    <option value='0'>House And Senate Races</option>
    <option value='S'>Only Senate Races</option>
    <option value='H'>Only House Races</option>
  </select>&nbsp;&nbsp;
  State:
  <select data-placeholder="Pick a state..." name="state" class="chosen-select" tabindex="2" id="candidate_state_checked" style="width:120px;">
  </select>&nbsp;&nbsp;
  Rothenberg ratings <select name="rating_filter" class="dropdown_field chosen-select" id="rating_filter" tabindex="2" style="width:200px;">
      <option value='0'>All races</option>
      <option value='126'>Toss-up races</option>
      <option value='12637'>Toss-ups and leaners</option>
    </select>
    
  <p>
    
<table id="mainPageTable" class="sortable">
            <thead>
                  <tr id="titles">
                      <th class="sort">District - Incumbent</th>
                      <th class="sort">Open Seat?</th>
                      <th class="sort">Rothenberg Rating</th>
                      <th class="sort">Election Year</th>
                      <th class="sort">All Candidates' Fundraising</th>
                      <th class="sort">All Candidates' Spending</th>
                      <th class="sort">Outside Spending</th>
                      <th class="sort">Total Spending</th>
                  </tr>
              </thead>
              <tbody>
                {% for object in races %}
                  <tr class="{% cycle 'odd' 'even' %}" id="{{ object.rothenberg_rating_id}}">
                      <td class="district">({{object.office}}) <a href="{{ object.get_absolute_url }}" class="link">{{ object.district_formatted }}</a> - {{object.incumbent_name}} ({{object.incumbent_party}})</td>
                      <td>{% if object.open_seat %}Y{% else %}N{% endif %}</td>
                      <td>{{ object.rothenberg_rating_short }}</td>
                      <td>{{ object.election_year }}</td>
                      <td>{% if object.candidate_raised %}${{ object.candidate_raised|intcomma }}{% else %}$0{% endif %}</td>
                      <td>{% if object.candidate_spending %}${{ object.candidate_spending|intcomma }}{% else %}$0{% endif %}</td>
                      <td>{% if object.outside_spending %}${{ object.outside_spending|intcomma }}{% else %}$0{% endif %}</td>
                      <td>{% if object.total_spending %}${{ object.total_spending|intcomma }}{% else %}$0{% endif %}</td>                  

                      </tr>
                {% endfor %}

</tbody>
</table>

</div>
<script type="text/javascript" src="{% static 'realtimefec/js/chosen.jquery.min.js' %}"></script>

<script type="text/javascript" >


var states = [
  {'name':'Show All', 'value':'0'},
  {% for state in STATE_LIST %}{ 'value':'{{ state.abbrev}}', 'name':'{{state.name}}'}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
]


function make_states() {
  state_element = '';
  for (var i = 0; i < states.length; i++) {
          state_element += '<option value="' + states[i].value + '">' + states[i].name + '</option>';
      }

  $("#candidate_state_checked").html(state_element);
  $("#candidate_state_checked").trigger("chosen:updated");
}



function apply_filters() {
  state_selected = $("#candidate_state_checked").val();
  rating_selected = $("#rating_filter").val();
  chamber_selected = $("#candidate_filter").val();
  console.log("Filtering on: state=" + state_selected + " rating: " + rating_selected + " chamber_selected: " + chamber_selected);
  
  
  $("#mainPageTable > tbody > tr").each(function(index) {    
    cell_text = $(this).find('td.district').text().trim();
    chamber = cell_text.substring(1,2);
    state = cell_text.substring(4,6);
    rating_id = $(this).attr('id');
    
    display = false;
    //console.log(index + " chamber " +chamber + " state" +  state+ "  race_id" + race_id + " rating_id " + rating_id  )
    if (state_selected == 0 || state_selected == state) {
      if (chamber_selected == '0' || chamber_selected == chamber) {
        if (rating_selected == '0' || rating_selected.indexOf(rating_id) >= 0 ) {
          display = true;
        }
      }
    }
    if (display) {
      $(this).show();
    } else {
      $(this).hide();
    }
    
    
    //console.log(index + " cell_text " + cell_text + " state: " + state_text + " race_id: " + race_id + " fec_id: " + fec_id );
  });
}


$(document).ready(function() {
  
  $('.chosen-select'  ).chosen({disable_search_threshold: 10});
  make_states();
  
    $( "#candidate_filter" ).val("0");
    
    $( ".chosen-select" )
    .bind( "change", function() {
      apply_filters();
      var sorting = [[7,1]]; 
      // sort on the seventh column 
      $("#mainPageTable").trigger("sorton",[sorting]);
      
      
    });
});




</script>

{% endblock %}