{% extends "dryrub/base.html" %}
{% load timestamp %}
{% load staticfiles %}

{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/realtimefec_main.css' %}" />
{% endblock sitecss %}

{% block main %}
{% block subnavitems %}
<div id="timestamp">{% block timestamp %}{% timestamp_filings %}{% endblock %}</div><div class="clear"></div>
<nav id="rt_nav" class="realtimesubnav">
<ul>
    <li class="last"><a href="/download-index/">Downloads</a></li>
    <li><a href="/newest-filings/">Newest Filings</a></li>
    <li><a href="/alerts/">Alerts</a></li>
    <li><a href="/new-committees/">New Committees</a></li>
    <li><a href="/outside-spending/">Outside Spending</a></li>
    <li><a href="/pacs/">PACs</a></li>
    <li><a href="/candidates/">Candidates</a></li>
    <li><a href="/house/">House</a></li>
    <li><a href="/senate/">Senate</a></li>
    <li><a href="/races/">Races</a></li>                                                

</ul>
{% endblock %}
<div class="clear"></div>
</nav>

<div class="clear"></div>
{% block rtmain %}
{% endblock %}

{% endblock %}