{% extends "dryrub/base.html" %}
{% load timestamp %}
{% load staticfiles %}


{% block head_analytics %}
<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1265484-62']);
            _gaq.push(['_setDomainName', 'influenceexplorer.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
{% endblock %}

{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/realtimefec_main.css' %}" />
{% endblock sitecss %}
{# override search #}
{% block search %}{% endblock search %}
{% block main %}
<div id="contentHeader" class="clearfix">
    <h2 class="RTh2">Real-Time Federal Campaign Finance</h2>
		<div id="cycle-selector">{% block cycle_selector %}{% endblock cycle_selector %}</div>
</div>

{% block subnavitems %}
{% include "includes/main_nav.html" %}
{% endblock %}


{% block rtmain_generated %}

<div class="module RT clearfix">
       <h3>{% block title %}{{ title|safe }} {% endblock %}</h3>
       <div id="timestamp">{% block timestamp %}{% timestamp_filings %}{% endblock %}</div>
       {% if explanatory_text %}<p>{{ explanatory_text|safe }}</p>{% endif %}

</div>

{% endblock %}

{% endblock %}