{% extends "dryrub/base.html" %}
{% load timestamp %}
{% load staticfiles %}


{% block head_analytics %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1265484-62', 'influenceexplorer.com');
  ga('send', 'pageview');
  ga('create', 'UA-48789618-1', 'influenceexplorer.com', {'name': 'global'});
  ga('global.send', 'pageview');
</script>
{% endblock %}

{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/realtimefec_main.css' %}" />
{% endblock sitecss %}

{% block main %}
<div id="contentHeader" class="clearfix">
    <h2 class="RTh2">Real-Time Federal Campaign Finance</h2>
		<div id="cycle-selector">{% block cycle_selector %}{% include "includes/cycle_selector.html" %}{% endblock cycle_selector %}</div>
</div>
{# override search #}
{% block search %}{% endblock search %}
{% block subnavitems %}

{% include "includes/main_nav.html" %}
{% endblock %}

<div class="module RT clearfix">
       <h3>{% block title %}{{ title|safe }} {% endblock %}</h3>
       <div id="timestamp">{% block timestamp %}{% timestamp_filings %}{% endblock %}</div>
       {% if explanatory_text %}<p>{{ explanatory_text|safe }}</p>{% endif %}

</div>

{% block rtmain %}
{% endblock %}

{% endblock %}
