{% extends "datapages/realtime_base.html" %}
{% load humanize %}


{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }}{% endblock %}

 {% block rtmain %}

<div class="module">
<p>This page shows the top House and Senate races by weekly outside spending totals. Weeks start on Monday and end on Sunday. Only races with more than $1,000 reported in outside spending are shown.</p><br>
{% if previous_week_number %}<a href="/top-races/week/{{ previous_week_number}}/">Previous Week</a>{% endif %}
{% if following_week_number %}&nbsp;|&nbsp;<a href="/top-races/week/{{ following_week_number}}/">Following Week</a>{% endif %}
  
{% for obj in weeklysummaries %}
<div style="margin-top: 40px;">

<span style="font-size:18px;"><a href={{obj.district.get_absolute_url}}> {{ obj.district.race_name }}</a> {% if obj.district.open_seat %}(OPEN SEAT){% endif %}</span><br>
<b>Rothenberg Rating: {{ obj.district.rothenberg_rating_text }}. Incumbent: {{ obj.district.incumbent_name }} ({{ obj.district.incumbent_party}}) </b><br>
<span style="font-size:16px;">Total Outside Spending, {{obj.start_date|date:"m/d"}}-{{obj.end_date|date:"m/d"}}: ${{obj.outside_spending|intcomma}}</span>
<br><a href="{{ obj.district.get_filtered_ie_url}}">See all outside expenditures in this race</a>
<br>

</div>
{% endfor %}

</div>
{% endblock %}
  
