{% extends "datapages/realtime_base.html" %}
{% load humanize %}
{% load staticfiles %}



{% block js %}
{{ block.super }}

{% if weeklysummaries %}
<script type="text/javascript" src="{% static 'realtimefec/js/d3.v3.min.js' %}"></script>
<script type="text/javascript">
  window.datafileURL = "{{ data_url }}";
</script>
<script type="text/javascript" src="{% static 'realtimefec/js/race_chart.js' %}"></script>
{% endif %}

{% endblock %}

{% block sitecss %}
<link rel="stylesheet" href="{% static 'realtimefec/css/chartoff_style.css' %}" />
{{ block.super }}
{% endblock sitecss %}

{% block body_class %}{% endblock %}

{% block pagetitle %}{{ title }} {% endblock %}

 {% block rtmain %}

<div class="module">
<p>This page shows the top House and Senate races by weekly outside spending totals. Weeks start on Monday and end on Sunday. Only races with more than $1,000 reported in outside spending are shown. Also see the <a href="http://politicaladsleuth.com/political-files/weekly/{{ week_number }}/">top TV markets</a> in terms of political ad buy documents filed during this week.
  </p><br>
{% if previous_week_number %}<a href="/top-races/week/{{ previous_week_number}}/">Previous Week</a>{% endif %}
{% if following_week_number %}&nbsp;|&nbsp;<a href="/top-races/week/{{ following_week_number}}/">Following Week</a>{% endif %}

<div>
<div style="float:left; width: 410px; ">
{% for obj in weeklysummaries %}
<div style="margin-top: 40px;">

<span style="font-size:18px;"><a href={{obj.district.get_absolute_url}}> {{ obj.district.race_name }}</a> {% if obj.district.open_seat %}(OPEN SEAT){% endif %}</span><br>
<b>Rothenberg Rating: {{ obj.district.rothenberg_rating_text }}. Incumbent: {{ obj.district.incumbent_name }} ({{ obj.district.incumbent_party}}) </b><br>
<span style="font-size:16px;">Total Outside Spending, {{obj.start_date|date:"m/d"}}-{{obj.end_date|date:"m/d"}}: ${{obj.outside_spending|intcomma}}</span>
<br><a href="{{ obj.district.get_filtered_ie_url}}">See all outside expenditures in this race</a>
<br>

</div>
{% endfor %}
</div>

<div style="float:right; width: 460px;">
{% if weeklysummaries %}
<!-- chart div -->
<div id="line-chart" class="graphic-container-blog">
    <div class="divider solid"></div>
    <div class="header-container">
        <div class="header-title">
            <div class="main-title">
                Outside spending, {{period_start|date:"m/d"}}-{{week_end|date:"m/d"}}</em> 
            </div>
            <!-- save space by floating explanation to the left and logo to the right -->
            <div class="explanatory" style="float:left;">
                Amounts are for the past seven days
            </div>
            <div class="header-logo" style="float:right;">
            </div>
        </div>
    </div>
    <div class="divider solid"></div>
    <div class="chart-area">
        <svg class="canvas">
        </svg>
    </div>
    
</div>
The three races shown above are the those with the most outside spending during the week of {{week_start|date:"m/d"}}-{{week_end|date:"m/d"}}.
<!-- end chart div -->
{% endif %} 
</div>
<div style="clear:both;" />

</div>

</div>
{% endblock %}
  
