{% extends "datapages/realtime_generated_base.html" %}

{% block pagetitle %}Training Links{% endblock pagetitle %}


{% block rtmain_generated %}
<div class="module RT clearfix">


<h2>Presentation Links</h2>
<p>
This page refers specifically to a training given Oct. 15, 2014 about how to use the site. 
A copy of the presentation can be downloaded here. </p>

<p>Because the links in the presentation don't work in the online meeting format, those links have been collected here.
They appear underneath a section header that corresponds--roughly--to the name of the slide that they originally appeared in.</p>

<h4>Slide: How FEC filing works</h4>
<p>
Two types of efiles: periodic reports – monthly or quarterly; faster turnover: 24/48hr reports. See <a href="http://realtime.influenceexplorer.com/about/#form_types">more about form types</a>.
</p>
<h4>Slide: What the site does</h4>
<p>This stuff is actually documented – see the <a href="http://realtime.influenceexplorer.com/about/">about page</a> -- or <a href="realtime.influenceexplorer.com/newest-filings/">the API dox</a>.</p>
<h4>Slide: Newest Filings</h4>
<p>
<a href="http://realtime.influenceexplorer.com/newest-filings/">http://realtime.influenceexplorer.com/newest-filings/</a><br>
The URL’s are sticky, so you can save searches. This is the biggest Q3 party committees:  <a href="http://realtime.influenceexplorer.com/newest-filings/#?ordering=-tot_raised&committee_class=XYZ&year_covered=2014&time_range=cycle&period_type=Q3">http://realtime.influenceexplorer.com/newest-filings/#?ordering=-tot_raised&committee_class=XYZ&year_covered=2014&time_range=cycle&period_type=Q3</a>
<br>See filing <a href="">#940023</a>,<a href="">#867750</a> 
<h4>Slide: Newest Filings: Examples</h4>
<p><a href="http://realtime.influenceexplorer.com/newest-filings/#?ordering=-tot_raised&committee_class=H&year_covered=2014&time_range=cycle&is_superceded=False&period_type=Q3">Top house candidates for Q3</a>
<br><a href="http://realtime.influenceexplorer.com/newest-filings/#?ordering=-tot_raised&committee_class=UOVW&year_covered=2014&time_range=cycle&is_superceded=False&period_type=Q3">Top super PACs for Q3</a>
<br><a href="http://realtime.influenceexplorer.com/newest-filings/#?ordering=-filing_number&year_covered=2013&time_range=cycle&report_type=monthly&candidate_id=H6TX22143&period_type=Q1">Rep. Steve Stockman (R-TX) Q1 2013 (all 8 versions)</a>
<h4>PAC Rosetta stone</h4>
<p><a href="http://www.fec.gov/finance/disclosure/metadata/CommitteeTypeCodes.shtml">Committee Type Codes</a>
<br><a href="http://www.fec.gov/finance/disclosure/metadata/DataDictionaryCommitteeMaster.shtml">Committee Designations</a>
</p>
<h4>PAC Summaries</h4>
<p>
<a href="http://realtime.influenceexplorer.com/pacs/">http://realtime.influenceexplorer.com/pacs/</a>
<br>Sample PAC <a href="http://realtime.influenceexplorer.com/committee/hometown-freedom-action-network/C00528901/"> Hometown Freedom Action Network</a>
</p>
<h4>PAC Summary examples</h4>
<p><a href="http://realtime.influenceexplorer.com/pacs/#?ordering=-total_receipts&committee_class=UO">Super PACs by amount raised</a>
<br><a href="http://realtime.influenceexplorer.com/pacs/#?ordering=-total_disbursements&committee_class=I">Non-committees by amount spent</a>
<br><a href="http://realtime.influenceexplorer.com/pacs/#?ordering=-outstanding_loans&committee_class=XYZ">Party committees by outstanding debt</a>
</p>
<h4>Slide: House / Senate candidates</h4>
<p>Overview pages of all <a href="http://realtime.influenceexplorer.com/house/">house</a> and <a href="http://realtime.influenceexplorer.com/senate/">senate</a> candidates.
<br>Candidate example: <a href="http://realtime.influenceexplorer.com/candidate/khanna-rohit/H4CA12055/">Ro Khanna</a>.

</p>
<h4>Independent Expenditures</h4>
<p>
<a href="http://realtime.influenceexplorer.com/outside-spending/">http://realtime.influenceexplorer.com/outside-spending/</a> 
<br>Example: <a href="http://realtime.influenceexplorer.com/outside-spending/#?ordering=-expenditure_date_formatted&min_spent=100000&district_checked=1034">Example North Carolina Senate over $100K apiece</a>.
</p>
<h4>Races</h4>
<p>
Page is <a href="http://realtime.influenceexplorer.com/races/">http://realtime.influenceexplorer.com/races/</a>
<br>Sample race: <a href="http://realtime.influenceexplorer.com/race/2014/H/WV/03/">WV-03</a> ; note link to <a href="http://realtime.influenceexplorer.com/outside-spending/#?ordering=-expenditure_date_formatted&district_checked=980">all IEs for this race</a>.




</div>

{% endblock %}